 body {
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
     line-height: 18px;
     font-size: 14px;
     color: #757575;
 }
 
 a {
     color: #008fc4;
     transition: all 0.3s ease;
     -webkit-transition: all 0.3s ease;
 }
 
 a:hover,
 a:focus {
     text-decoration: none;
 }
 
 table {
     width: 100%;
 }
 
 ::-webkit-scrollbar {
     width: 6px;
 }
 
 ::-webkit-scrollbar-thumb {
     background: #00bed4;
 }
 
 ::-webkit-scrollbar-track {
     box-shadow: none;
     -webkit-appearance: none;
 }
 
 ::-webkit-scrollbar-track-piece {
     background-color: #008dc4;
 }
 
 ::-webkit-scrollbar-thumb:vertical {
     background-color: #00bed4;
 }
 
 div#no-more-tables {
     margin: 10px 0;
 }
 
 .shadowbox .select2-container {
     width: 100% !important;
 }
 /****Common btn design******/
 
 .add_form_section button.btn {
     margin: 0 0 20px 0;
 }
 
 body button.btn {
     background-image: -moz-linear-gradient( -180deg, rgb(0, 176, 207) 0%, rgb(0, 129, 192) 100%);
     background-image: -webkit-linear-gradient( -180deg, rgb(0, 176, 207) 0%, rgb(0, 129, 192) 100%);
     background-image: -ms-linear-gradient( -180deg, rgb(0, 176, 207) 0%, rgb(0, 129, 192) 100%);
     color: #fefefe;
     font-weight: 400;
     border-radius: 4px;
     border: 0;
     padding: 10px 16px;
     font-size: 15px;
     line-height: 15px;
     box-shadow: 1.5px 2.598px 3px 0px rgba(0, 0, 0, 0.24);
     margin: 10px 10px 0px 0;
 }
 
 body button.btn:hover,
 body button.btn:focus,
 body .btn.active,
 body .btn:active,
 body button.btn:active:hover {
     background: #494949;
     color: #fff;
     outline: none;
     border: none;
 }
 
 .navbar-default .navbar-toggle .icon-bar {
     background-color: #fff;
 }
 
 .navbar-default .navbar-toggle:focus,
 .navbar-default .navbar-toggle:hover {
     background-color: #fff;
 }
 
 .navbar-default .navbar-toggle:focus .icon-bar,
 .navbar-default .navbar-toggle:hover .icon-bar {
     background-color: #2090d7;
 }
 /****Common table design******/
 
 .table>tbody>tr>td,
 .table>tbody>tr>th,
 .table>tfoot>tr>td,
 .table>tfoot>tr>th,
 .table>thead>tr>td,
 .table>thead>tr>th {
     vertical-align: middle;
 }
 
 .tabledesign {
     border-left: 1px solid #e6eaee;
     border-right: 1px solid #e6eaee;
 }
 
 .tabledesign tr {
     border-top: 1px solid #e6eaee;
     border-bottom: 1px solid #e6eaee;
 }
 
 .tabledesign thead tr th {
     border: 0;
     font-size: 15px;
     color: #fff;
     font-weight: 500;
     padding: 10px;
     text-align: center;
     line-height: 16px;
     vertical-align: top;
 }
 
 .tabledesign thead tr th i.fa {
     display: block;
     width: 100%;
 }
 
 .tabledesign thead tr th a {
     color: #fff;
     float: left;
     width: 100%;
 }
 
 .tabledesign thead tr th a:hover {
     color: #494949;
 }
 
 .tabledesign thead tr th.txtcenter {
     text-align: center;
 }
 
 .tabledesign tbody tr td {
     border: 0;
     font-size: 14px;
     padding: 8px 10px;
     text-align: center;
 }
 
 .tabledesign tbody tr td a {
     color: #2090d7;
 }
 
 .tabledesign tbody tr td a:hover {
     color: #494949;
 }
 
 .tabledesign tbody tr td a.edit-btn {
     color: #101010;
     padding: 3px;
 }
 
 .tabledesign tbody tr td a.delete-btn {
     color: #f00;
     padding: 3px;
 }
 
 .tabledesign tbody tr td a.upgrade-btn {
     background: #fff;
     color: #2090d7;
     font-weight: 400;
     border-radius: 4px;
     border: 1px solid #2090d7;
     padding: 5px 10px;
     font-size: 14px;
     line-height: 13px;
     margin: 0 5px;
 }
 
 .tabledesign tbody tr td a.upgrade-btn:hover {
     background: #2090d7;
     color: #fff;
 }
 
 .tabledesign tbody tr td span.activebtn {
     border-radius: 4px;
     background: #5cb85c;
     color: #fff;
     padding: 5px 8px;
     display: inline-block;
     font-size: 13px;
     line-height: 13px;
 }
 
 .tabledesign tbody tr td span.inactivebtn {
     border-radius: 4px;
     background: #f0ad4e;
     color: #fff;
     padding: 5px 8px;
     display: inline-block;
     font-size: 13px;
     line-height: 13px;
 }
 
 .tabledesign tbody tr td a.creayedbybtn {
     border-radius: 4px;
     background: #2090d7;
     color: #fff;
     padding: 5px 8px;
     display: inline-block;
     font-size: 13px;
     line-height: 13px;
     text-transform: capitalize;
 }
 
 .tabledesign tbody tr td a.creayedbybtn:hover {
     background: #3b3b3b;
 }
 
 .tabledesign .checkboxtbl {
     position: relative;
     display: inline-block;
 }
 
 .tabledesign .checkboxtbl input {
     width: 100%;
     height: 100%;
     opacity: 0;
     position: absolute;
     top: 0;
     left: 0;
     z-index: 999;
 }
 
 .searchbox.form-horizontal .checkboxtbl label {
     font-weight: 500;
     color: #3b3b3b;
     font-size: 15px;
     position: 2;
 }
 
 .tabledesign .checkboxtbl label span {
     width: 20px;
     height: 20px;
     border: 2px solid #3b3b3b;
     display: inline-block;
     position: relative;
     top: 3px;
     text-align: center;
 }
 
 .tabledesign .checkboxtbl input[type="checkbox"]:checked+label span {
     background: #2090d7;
     border: 2px solid #2090d7
 }
 
 .tabledesign .checkboxtbl input[type="checkbox"]:checked+label span:before {
     content: "\f00c";
     font-family: FontAwesome;
     font-style: normal;
     font-weight: normal;
     text-decoration: inherit;
     /*--adjust as necessary--*/
     color: #fff;
     font-size: 15px;
     position: absolute;
     top: 0px;
     left: 0;
     line-height: 18px;
 }
 /****Common form design******/
 
 .form-horizontal .form-group {
     margin-left: 0;
     margin-right: 0;
 }
 
 .form-horizontal .form-control,
 .form-horizontal select,
 .form-horizontal textarea {
     border-radius: 0;
     border: 1px solid #d2d2d2;
     padding: 10px;
     font-size: 14px;
     color: #757575;
     line-height: 14px;
     height: auto;
 }
 
 .form-horizontal select.form-control {
     padding: 7px 10px;
 }
 
 .form-horizontal .select2-container--default .select2-selection--single .select2-selection__rendered {
     border-radius: 0;
     border: 1px solid #d2d2d2;
     padding: 10px 10px;
     font-size: 14px;
     color: #757575;
     line-height: 14px;
     height: auto;
 }
 
 .form-horizontal .select2-container--default .select2-selection--single .select2-selection__arrow {
     height: 100%;
     right: 7px;
 }
 
 .form-horizontal .select2-container .select2-selection--single,
 .form-horizontal .select2-container--default .select2-selection--single {
     border: 0;
     height: auto;
 }
 
 .form-horizontal .form-control:hover,
 .form-horizontal .form-control:focus,
 .form-horizontal .select2-container--default .select2-selection--single .select2-selection__rendered:hover,
 .form-horizontal .select2-container--default .select2-selection--single .select2-selection__rendered:focus {
     border: 1px solid #2090d7;
 }
 
 .form-horizontal label {
     font-weight: 400;
     text-transform: capitalize;
     padding: 8px 0 0 0;
     color: #494949;
 }
 /*************Pagination***********/
 
 ul.pagination {
     margin: 15px 0;
     text-align: center;
     width: 100%;
 }
 
 ul.bottom-pagination {
     position: absolute;
     bottom: 35px;
     left: 0;
     right: 0;
 }
 
 ul.pagination li {
     display: inline-block;
 }
 
 .pagination>li:last-child>a,
 .pagination>li:last-child>span,
 .pagination>li:first-child>a,
 .pagination>li:first-child>span {
     border-radius: 0;
 }
 
 .leftlist-box .pagination>li>a,
 .leftlist-box .pagination>li>span,
 .leftlist-box .pagination>li:first-child>a,
 .leftlist-box .pagination>li:first-child>span {
     border: 0;
     background: #fff;
     color: #2090d7;
 }
 
 .leftlist-box .pagination li.active span,
 .leftlist-box .pagination li:hover a,
 .leftlist-box .pagination>.disabled>a,
 .leftlist-box .pagination>.disabled>a:focus,
 .leftlist-box .pagination>.disabled>a:hover,
 .leftlist-box .pagination>.disabled>span,
 .leftlist-box .pagination>.disabled>span:focus,
 .leftlist-box .pagination>.disabled>span:hover {
     background-color: #3b3b3b;
     color: #fff;
     border: 0;
 }
 
 .pagination>li>a,
 .pagination>li>span,
 .pagination>li:first-child>a,
 .pagination>li:first-child>span,
 .top-pagination .pagination>li>a,
 .top-pagination .pagination>li>span,
 .top-pagination .pagination>li:first-child>a,
 .top-pagination .pagination>li:first-child>span,
 .leftlist-box .top-pagination .pagination>.disabled>span {
     border: 0;
     background: #2090d7;
     color: #fff;
 }
 
 .pagination li.active span,
 .pagination li:hover a,
 .leftlist-box .top-pagination .pagination li.active span,
 .leftlist-box .top-pagination .pagination li:hover a,
 .leftlist-box .top-pagination .pagination>.disabled>a,
 .leftlist-box .top-pagination .pagination>.disabled>a:focus,
 .leftlist-box .top-pagination .pagination>.disabled>a:hover,
 .leftlist-box .top-pagination .pagination>.disabled>span:focus,
 .leftlist-box .top-pagination .pagination>.disabled>span:hover {
     background-color: #3b3b3b;
     color: #fff;
     border: 0;
 }
 /*******Common serach box design******/
 
 .searchbox {
     margin-bottom: 40px;
 }
 
 .searchbox.form-horizontal label {
     font-size: 17px;
     line-height: 19px;
     color: #2090d7;
     font-weight: 400;
     border: 0;
     padding: 0;
     margin: 10px 0;
     text-align: left;
 }
 /*---------------loader-----------------*/
 
 .cssload-loader {
     height: 100%;
     width: 100%;
     background: rgba(255, 255, 255, 0.6);
     display: block;
     position: absolute;
     top: 0;
     right: 0;
     left: 0;
     bottom: 0;
     z-index: 999999;
 }
 
 .cssload-center {
     height: 120px;
     width: 120px;
     background: url(/images/default.gif) 0 0 no-repeat;
     display: block;
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     right: 0;
     left: 0;
     margin: 0 auto;
 }
 /*-------------loader end----------*/
 /*******login pages **********/
 
 .loginpage {
     background-image: url(/images/keyboard-img.png);
     background-size: 100%;
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
 }
 
 .authcontent {
     margin-top: 40px;
 }
 
 .authcontent .panel-default {
     background-color: rgb(255, 255, 255);
     box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
     border: 0;
     padding: 40px;
 }
 
 .authcontent .panel-heading {
     font-size: 19px;
     line-height: 19px;
     color: #2090d7;
     font-weight: 400;
     border: 0;
     padding: 0;
     margin: 0 0 15px 0;
 }
 
 .authcontent .panel-body {
     padding: 0;
 }
 
 .authcontent .form-group {
     position: relative;
     margin: 0 0 8px 0;
 }
 
 .authcontent .fa {
     position: absolute;
     left: 15px;
     top: 15px;
     color: #2090d7;
     font-size: 15px;
     width: 15px;
     text-align: center;
 }
 
 .authcontent .form-control {
     padding: 15px 10px 15px 40px;
 }
 
 .authcontent .remebercheckbox {
     display: inline;
     position: relative;
 }
 
 .authcontent .remebercheckbox label {
     font-size: 14px;
     color: #757575;
     font-weight: 400;
     position: relative;
     padding: 0;
     margin: 0;
     z-index: 0;
 }
 
 .authcontent .remebercheckbox label span {
     width: 15px;
     height: 15px;
     border: 2px solid #2090d7;
     display: inline-block;
     float: left;
     top: 2px;
     margin: 0 5px 0 0;
     position: relative;
 }
 
 .authcontent .remebercheckbox input {
     opacity: 0;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     height: 100%;
     z-index: 99;
     margin: 0;
 }
 
 .authcontent .remebercheckbox input[type="checkbox"]:checked+label span:before {
     content: "\f00c";
     font-family: FontAwesome;
     font-style: normal;
     font-weight: normal;
     text-decoration: inherit;
     /*--adjust as necessary--*/
     color: #2090d7;
     font-size: 11px;
     position: absolute;
     line-height: 11px;
     width: 100%;
     text-align: center;
 }
 
 .authcontent a.btn-link {
     color: #2090d7;
     font-size: 14px;
     padding: 0;
     float: right;
 }
 
 .authcontent a.btn-link:hover {
     color: #494949;
     text-decoration: none;
 }
 
 .authcontent .genderrow {
     margin-bottom: 15px;
 }
 
 .authcontent .genderrow .gender_male,
 .genderrow .gender_female {
     position: relative;
 }
 
 .authcontent .genderrow input {
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     opacity: 0;
     margin: 0;
     z-index: 55;
 }
 
 .authcontent .genderrow label {
     margin: 0;
     padding: 0 0 0 20px;
     position: relative;
     z-index: 0;
     font-weight: 400;
 }
 
 .authcontent .authcontent .genderrow label:before {
     width: 15px;
     height: 15px;
     border: 1px solid #2090d7;
     border-radius: 100%;
     position: absolute;
     left: 0px;
     content: "";
     top: 0;
 }
 
 .authcontent .genderrow input[type="radio"]:checked+label {
     color: #2090d7
 }
 
 .authcontent .genderrow input[type="radio"]:checked+label:before {
     background: #2090d7
 }
 /*******login pages end**********/
 
 .form-group.map-block {}
 
 .map-block .map {
     box-shadow: 0px 0px 2px #ccc;
 }
 /********top header logo row css********/
 
 .navbar-static-top {
     border: none;
     background: #008dc4;
     background: -moz-linear-gradient(left, #008dc4 0%, #00a4cb 50%, #00bed4 100%);
     background: -webkit-linear-gradient(left, #008dc4 0%, #00a4cb 50%, #00bed4 100%);
     background: linear-gradient(to right, #008dc4 0%, #00a4cb 50%, #00bed4 100%);
     filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#008dc4', endColorstr='#00bed4', GradientType=1);
     padding: 15px 0;
     margin: 0;
 }
 
 .navbar-static-top .navbar-brand {
     color: #fff;
     font-size: 30px;
     font-weight: 500;
     line-height: 30px;
     display: inline-block;
     padding: 0;
     margin: 0;
 }
 
 .navbar>.container-fluid .navbar-brand {
     margin: 5px 0 14px 0;
     height: auto;
 }
 
 .navbar-default .navbar-brand:focus,
 .navbar-default .navbar-brand:hover {
     color: #494949;
 }
 
 .navbar-default .frmsearch .fa-map-pin {
     position: absolute;
     top: 4px;
     color: #b6e5f5;
     font-size: 14px;
     line-height: 14px;
 }
 
 .navbar-default .frmsearch .select2-container {
     width: 100% !important;
 }
 
 .navbar-default .frmsearch .select2-container--default .select2-selection--single {
     background: transparent;
     border-width: 0 0 1px 0;
     border-color: #fff;
     border-style: solid;
     border-radius: 0;
 }
 
 .navbar-default .frmsearch {
     margin-top: 8px;
 }
 
 .navbar-default .frmsearch .select2-container--default .select2-selection--single .select2-selection__rendered {
     font-size: 14px;
     line-height: 14px;
     padding: 5px 10px 5px 15px;
     color: #b6e5f5;
 }
 
 .navbar-default .frmsearch #select2-searchBarArea-container {
     padding: 5px 10px;
 }
 
 .navbar-default .frmsearch .select2-container--default .select2-selection--single .select2-selection__arrow {
     height: 20px;
     width: 20px;
     right: -2px;
 }
 
 .navbar-default .frmsearch .select2-container--default .select2-selection--single .select2-selection__arrow b {
     border: 0;
     display: inline-block;
     width: 20px;
     height: 20px;
     text-align: center;
     margin: 0;
     top: 0;
     right: 0px;
     left: 0;
 }
 
 .navbar-default .frmsearch .select2-container--default .select2-selection--single .select2-selection__arrow b:before {
     content: "\f107";
     font-family: FontAwesome;
     font-style: normal;
     font-weight: normal;
     text-decoration: inherit;
     /*--adjust as necessary--*/
     color: #b6e5f5;
     font-size: 20px;
     line-height: 20px;
     position: absolute;
     top: 0px;
     left: 0;
 }
 
 .navbar-default ul.navbar-right {
     margin: 10px 0 0 0;
     padding: 0;
 }
 
 .navbar-default ul.navbar-right ul.dropdown-menu {
     border: 1px solid #dfe3e9;
     box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.21);
     border-radius: 4px;
 }
 
 .navbar-default ul.navbar-right ul.dropdown-menu li {
     margin: 0;
     padding: 0;
     position: relative;
 }
 
 .navbar-default ul.navbar-right ul.dropdown-menu li:last-child {
     border: 0;
 }
 
 .navbar-default .navbar-right>li>a {
     margin: 0;
     padding: 0 10px;
     font-weight: 500;
     color: #fff;
     font-size: 15px;
     line-height: 24px;
     letter-spacing: 0.2px;
     text-transform: capitalize;
     display: block;
 }
 
 .navbar-default .navbar-right>li>a .fa-user-circle-o {
     font-size: 24px;
     display: inline-block;
     float: left;
     margin: 0 8px 0 0;
 }
 
 .navbar-default .navbar-right>li:after {
     content: "|";
     position: absolute;
     right: -2px;
     top: 3px;
     color: #fff;
     ;
     margin: auto;
 }
 
 .navbar-default .navbar-right>li:last-child:after {
     display: none;
 }
 
 .navbar-default .dropdown-menu>li>a:focus,
 .dropdown-menu>li>a:hover {
     color: #008dc4;
     background: transparent;
 }
 
 .navbar-default .navbar-right>li>a span {
     position: relative;
     border: 0;
     display: inline-block;
     width: 20px;
     height: 20px;
 }
 
 .navbar-default .navbar-right>li>a span:after {
     content: "\f107";
     font-family: FontAwesome;
     font-style: normal;
     font-weight: normal;
     text-decoration: inherit;
     /*--adjust as necessary--*/
     color: #b6e5f5;
     font-size: 20px;
     line-height: 20px;
     position: absolute;
     top: 0px;
     left: 0;
 }
 
 .navbar-default .navbar-right>li>a:focus,
 .navbar-default .navbar-right>li>a:hover,
 .navbar-default .navbar-right>li>a:hover span:after,
 .navbar-default .navbar-right>li>a:focus span:after,
 .navbar-default .navbar-nav>.open>a,
 .navbar-default .navbar-nav>.open>a:focus,
 .navbar-default .navbar-nav>.open>a:hover {
     color: #494949;
     background: transparent;
 }
 /***********end*******/
 
 #no-more-tables table.table thead {
     background: -webkit-linear-gradient( -180deg, rgb(0, 176, 207) 0%, rgb(0, 129, 192) 100%);
     color: #fff;
 }
 /********dropdown css****/
 
 .main-menu {
     box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.19);
     width: 100%;
     float: left;
     position: relative;
     z-index: 66;
 }
 
 .dropdown li.parent ul {
     display: none;
 }
 
 .main-menu ul.navbar-nav li {
     position: relative;
     display: inline-block;
     z-index: 999;
 }
 
 .main-menu ul.navbar-nav {
     padding: 0;
     margin: 0;
     float: left;
     width: 100%;
 }
 
 .main-menu ul.navbar-nav li {
     float: left;
     position: relative;
     padding: 0px;
     border-right: 1px solid #ccc;
     display: inline;
 }
 
 .main-menu ul.navbar-nav li a {
     font-size: 14px;
     color: #3b3b3b;
     font-weight: 400;
     line-height: 14px;
     padding: 18px 20px;
 }
 
 .main-menu ul.navbar-nav li:hover,
 .main-menu ul.navbar-nav li.active {
     background: #008fc4;
     cursor: pointer;
 }
 
 .main-menu ul.navbar-nav li:hover>a {
     color: #fff;
 }
 
 .main-menu ul.navbar-nav li:hover a span.caret:after,
 .main-menu ul.navbar-nav li.active span.caret:after {
     color: #fff;
 }
 
 .main-menu ul.navbar-nav li:first-child {
     /* padding-left: 0;*/
 }
 
 .main-menu ul.navbar-nav li:last-child {
     border: 0;
 }
 
 .main-menu ul.navbar-nav li a:hover,
 .main-menu ul.navbar-nav li a:focus,
 .main-menu ul.navbar-nav li.active>a,
 .main-menu ul.navbar-nav li.active a:hover,
 .main-menu ul.navbar-nav li.active a:focus .main-menu ul.navbar-nav a:hover span.caret:after {
     color: #fff;
     background: transparent;
 }
 
 .main-menu ul.navbar-nav li a .fa {
     color: #adadad;
     font-size: 19px;
     position: relative;
     top: 2px;
     line-height: 19px;
 }
 
 .main-menu ul.navbar-nav li .dropdown-menu li {
     border: 0;
     display: block;
     width: 100%;
     padding: 0;
 }
 
 .main-menu ul.navbar-nav .dropdown-menu {
     border: 1px solid #dfe3e9;
     box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.21);
     border-radius: 4px;
 }
 
 .main-menu ul.navbar-nav .dropdown-menu a {
     display: block;
     padding: 3px 20px;
     clear: both;
     line-height: 20px;
     font-size: 13px;
     color: #3b3b3b;
     font-weight: 400;
 }
 
 .main-menu ul.navbar-nav a span.caret {
     border: 0;
     position: relative;
     display: inline-block;
     float: right;
 }
 
 .main-menu ul.navbar-nav a span.caret:after {
     content: "\f107";
     font-family: FontAwesome;
     font-style: normal;
     font-weight: normal;
     text-decoration: inherit;
     /*--adjust as necessary--*/
     color: #3b3b3b;
     font-size: 13px;
     position: absolute;
     top: 0px;
     left: 0;
 }
 
 .bg-title h4.page-title {
     font-size: 24px;
 }
 
 .admin-property-block {
     box-shadow: 0px 0px 2px #ccc;
     float: left;
     width: 100%;
     text-align: center;
     margin-bottom: 20px;
 }
 
 .admin-property-block h3.box-title {
     margin: 0;
     background: -webkit-linear-gradient( -180deg, rgb(0, 176, 207) 0%, rgb(0, 129, 192) 100%);
     color: #fff;
     padding: 16px;
     font-size: 20px;
 }
 
 .admin-property-block ul.list-inline {
     margin: 0px;
     padding: 20px;
     width: 100%;
 }
 
 .admin-property-block ul.list-inline li {
     margin: 0px;
     padding: 0px;
 }
 
 .admin-property-block ul.list-inline li .counter {
     font-size: 22px;
 }
 
 .admin-property-block .tabledesign tr th,
 .admin-property-block .tabledesign tr td {
     text-align: center;
 }
 /********Profile page css*******/
 
 .admin-property-actions {
     padding: 0 15px;
     float: left;
     width: 100%;
 }
 
 .page-title h3 {
     font-size: 35px;
     font-weight: 300;
     color: #2090d7;
     line-height: 45px;
     margin: 40px 0 30px 0;
     padding: 0 0 10px 0;
     position: relative;
 }
 
 .rightaction-btn {
     margin: 40px 0 30px 0;
 }
 
 .shadowbox {
     background-color: rgb(255, 255, 255);
     box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
     border: 0;
     padding: 20px;
     margin: 0 0 20px 0;
     float: left;
     width: 100%;
 }
 
 .shadowbox h6 {
     font-size: 19px;
     line-height: 19px;
     color: #2090d7;
     font-weight: 400;
     border: 0;
     padding: 0;
     margin: 0 0 15px 0;
 }
 
 .myprofile {
     padding-bottom: 40px;
 }
 
 .myprofile form .row {
     padding: 0 0 8px 0;
 }
 
 .myprofile form .row .form-group {
     margin: 0;
 }
 
 .myprofile label {
     font-weight: 400;
     text-transform: capitalize;
     padding: 8px 0 0 0;
     text-align: left;
 }
 
 .form-horizontal .control-label {
     text-align: left;
 }
 
 .form-horizontal label.error {
     color: #f00;
     width: 100%;
 }
 /* .myprofile form .row input[type="text"], .myprofile form .row input[type="email"], .myprofile form .row input[type="phone"]{
     border-radius: 0;
     border: 1px solid #d2d2d2;
     padding:10px;
     font-size: 14px;
     color: #757575;
     line-height: 14px;
}
 */
 
 .myprofile form .radiorow label {
     margin: 0;
     padding: 0;
 }
 
 .myprofile form .radiorow .checkgender {
     display: inline-block;
     position: relative;
 }
 
 .myprofile form .radiorow .checkgender input[type="radio"] {
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     opacity: 0;
     z-index: 55;
 }
 
 .myprofile form .radiorow .checkgender label {
     position: relative;
     padding: 0 15px 0 25px;
 }
 
 .myprofile form .radiorow .checkgender label:before {
     width: 20px;
     height: 20px;
     border: 2px solid #2090d7;
     display: inline-block;
     float: left;
     top: 2px;
     margin: 0 5px 0 0;
     position: relative;
     content: "";
     position: absolute;
     left: 0;
     top: 0;
 }
 
 .myprofile form .radiorow .checkgender input[type="radio"]:checked+label:before {
     content: "\f00c";
     font-family: FontAwesome;
     font-style: normal;
     font-weight: normal;
     text-decoration: inherit;
     /*--adjust as necessary--*/
     color: #2090d7;
     font-size: 11px;
     position: absolute;
     line-height: 15px;
     text-align: center;
 }
 
 .adminpopup h4.modal-title {
     font-size: 20px;
     line-height: 19px;
     color: #2090d7;
     font-weight: 500;
     text-align: left;
 }
 
 .adminpopup table b {
     font-weight: 500;
 }
 
 .adminpopup input {
     border: 1px solid #2090d7;
 }
 
 .property-add-edit .new_room_sharing_table_row {
     background-color: rgb(255, 255, 255);
     box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
     border: 0;
     padding: 20px;
     margin: 20px 0;
     float: left;
     width: 100%;
 }
 
 .property-add-edit .new_room_sharing_table_row td {
     width: 100%;
     float: left;
 }
 
 .property-add-edit tr {
     position: relative;
 }
 
 .property-add-edit .searchbox.form-horizontal label {
     font-size: 18px;
     padding: 0;
 }
 
 .property-add-edit .searchbox.form-horizontal label.error {
     font-size: 12px;
     padding: 0;
     margin: 0;
 }
 
 .property-add-edit .removeproperty {
     position: absolute;
     right: 10px;
     top: -20px;
     z-index: 55;
 }
 
 .property-add-edit .removeproperty button.btn {
     background: #f00;
     color: #fff;
     border-radius: 100%;
     width: 30px;
     height: 30px;
     padding: 0;
     line-height: 20px;
     text-align: center;
     outline: none;
     border: none;
 }
 
 .required {
     color: #f00;
 }
 
 .property-add-edit .removeproperty button.btn i {
     font-size: 20px;
 }
 
 .property-add-edit .photosrow {
     /*padding: 30px 0;*/
     padding: 0;
     width: 100%;
     float: left;
 }
 
 .property-add-edit .photosrow label {
     width: 100%;
     float: left;
     padding: 0 15px;
 }
 
 .property-add-edit .photosrow .propertyPhoto {
     width: 100%;
     display: inline-block;
     box-shadow: 0px 0px 2px #CCC;
     margin-bottom: 30px;
 }
 
 .property-add-edit .photosrow .propertyPhoto .property-img-block {
     width: 100%;
     padding: 10px;
 }
 
 .property-add-edit .photosrow .propertyPhoto .property-img-block img {
     width: 100%;
 }
 
 .property-add-edit .photosrow .propertyPhoto .property-button-block {
     width: 100%;
 }
 
 .property-add-edit .photosrow .propertyPhoto .property-button-block .delete-button {
     display: inline-block;
     border: 0;
     width: 100%;
     padding: 10px;
     font-size: 16px;
     box-shadow: none;
     color: #fff;
     background: #008dc4;
     box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.24);
     background: -moz-linear-gradient(left, #008dc4 0%, #00a4cb 50%, #00bed4 100%);
     background: -webkit-linear-gradient(left, #008dc4 0%, #00a4cb 50%, #00bed4 100%);
     background: linear-gradient(to right, #008dc4 0%, #00a4cb 50%, #00bed4 100%);
     filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#008dc4', endColorstr='#00bed4', GradientType=1);
 }
 
 .property-add-edit .photosrow .propertyPhoto .property-button-block .delete-button:hover {
     background: #3b3b3b;
     outline: none;
     border: none;
 }
 
 .photosrow .upload-img-block {
     float: left;
     width: 100%;
     margin: 0 0 20px 0px;
 }
 
 .photosrow .upload-img-block .flie {
     width: 100%;
     box-shadow: 0px 0px 2px #CCC;
     position: relative;
     cursor: pointer;
     padding: 16px;
 }
 
 .photosrow .upload-img-block .flie:hover {
     box-shadow: 0px 0px 2px #008dc4;
 }
 
 .photosrow .upload-img-block .flie::before {
     content: "Upload File";
     font-family: 'Roboto', sans-serif;
     color: #008dc4;
     font-size: 20px;
     position: absolute;
     top: 17px;
     left: 60px;
     right: 0;
     bottom: 0;
     cursor: pointer;
     z-index: 99;
 }
 
 .photosrow .upload-img-block .flie::after {
     color: #008dc4;
     content: "\f093";
     font-family: FontAwesome;
     font-size: 28px;
     position: absolute;
     top: 16px;
     left: 20px;
     cursor: pointer;
 }
 
 .photosrow .upload-img-block .form-group {
     margin: 0;
 }
 
 .photosrow .upload-img-block input.upload_img {
     width: 100%;
     padding: 0;
     outline: none;
     cursor: pointer;
     opacity: 0;
 }
 
 property-button-block .property-add-edit .checkboxrow {
     clear: both;
 }
 
 .property-add-edit .checkboxrow .gender_male,
 .property-add-edit .checkboxrow .gender_female {
     position: relative;
     float: left;
     margin-right: 20px;
 }
 
 .property-add-edit .checkboxrow .form_field input {
     position: absolute;
     width: 100%;
     height: 100%;
     opacity: 0;
     left: 0;
     top: 0;
     z-index: 99;
     cursor: pointer;
 }
 
 .property-add-edit .checkboxrow .form_field label {
     color: #101010;
     position: relative;
     padding: 0 0 0 25px;
     z-index: 5;
     font-size: 14px;
     margin: 0;
 }
 
 .property-add-edit .checkboxrow .form_field label:before {
     width: 18px;
     height: 18px;
     border: 2px solid #3b3b3b;
     display: inline-block;
     position: absolute;
     top: 0px;
     text-align: center;
     content: "";
     left: 0;
 }
 
 .property-add-edit .checkboxrow .form_field input[type="checkbox"]:checked+label:after {
     content: "\f00c";
     font-family: FontAwesome;
     font-style: normal;
     font-weight: normal;
     text-decoration: inherit;
     color: #fff;
     font-size: 11px;
     position: absolute;
     line-height: 14px;
     text-align: center;
     left: 0;
     width: 18px;
     height: 18px;
     background: #2090d7;
     border: 2px solid #2090d7;
 }
 
 .property-add-edit .radiorow label {
     margin: 0;
     padding: 0;
 }
 
 .property-add-edit .radiorow .checkgender {
     display: inline-block;
     position: relative;
     padding-bottom: 5px;
 }
 
 .property-add-edit .radiorow .checkgender input[type="radio"] {
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     opacity: 0;
     z-index: 55;
 }
 
 .property-add-edit .radiorow .checkgender label {    
     color: #101010;
     position: relative;
     padding: 0 0 0 25px;
     z-index: 5;
     font-size: 14px;
     margin: 0;
 }
 
 .property-add-edit .radiorow .checkgender label:before {
     width: 20px;
     height: 20px;
     border: 2px solid #2090d7;
     display: inline-block;
     float: left;
     top: 2px;
     margin: 0 5px 0 0;
     position: relative;
     content: "";
     position: absolute;
     left: 0;
     top: 0;
 }
 
 .property-add-edit .radiorow .checkgender input[type="radio"]:checked+label:before {
     content: "\f00c";
     font-family: FontAwesome;
     font-style: normal;
     font-weight: normal;
     text-decoration: inherit;
     /*--adjust as necessary--*/
     color: #2090d7;
     font-size: 11px;
     position: absolute;
     line-height: 15px;
     text-align: center;
 }
 
 .page-title {
     width: 100%;
     float: left;
 }
 /***** Responsive *****/
 
 @media(max-width:991px) {
     .property-add-edit .searchbox.form-horizontal label {
         font-size: 14px;
     }
     .page-title h3 {
         margin: 10px 0 0px 0;
         font-size: 30px;
     }
 }
 
 @media(max-width:767px) {
     .navbar-default ul.navbar-right ul.dropdown-menu {
         border: none;
         box-shadow: none;
         border-radius: 0px;
     }
     .navbar-default .navbar-right>li>a {
         margin: 0;
         padding: 0;
     }
     .navbar-default .navbar-right>li>a:focus,
     .navbar-default .navbar-right>li>a:hover,
     .navbar-default .navbar-right>li>a:hover span:after,
     .navbar-default .navbar-right>li>a:focus span:after,
     .navbar-default .navbar-nav>.open>a,
     .navbar-default .navbar-nav>.open>a:focus,
     .navbar-default .navbar-nav>.open>a:hover {
         color: #fff;
         padding: 0;
     }
     .navbar-default .navbar-nav .open .dropdown-menu>li>a {
         color: #fff;
         padding: 0;
     }
     .property-add-edit .photosrow .propertyPhoto {
         display: inherit;
         margin: 30px auto;
         max-width: 350px;
     }
 }