/* RECORDS_PER_PAGE_BACKEND=10
RECORDS_PER_PAGE_FRONTEND=10
FREE_USER_FAVOURITE_LIMIT=2 */
*,::after,::before{-webkit-box-sizing:border-box;box-sizing:border-box}a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1;font-family:LatoLatinWeb;color:#000}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:"";content:none}table{border-collapse:collapse;border-spacing:0}@font-face{font-family:'Didact Gothic';font-style:normal;font-weight:400;src:local('Didact Gothic Regular'),local('DidactGothic-Regular'),url(https://fonts.gstatic.com/s/didactgothic/v12/ahcfv8qz1zt6hCC5G4F_P4ASlUuYow.ttf) format('truetype')}select{-webkit-appearance:none;-moz-appearance:none;text-indent:1px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
article,aside,footer,header,nav,section{display:block}
h1{font-size:2em;margin:0}
figcaption,figure,main{display:block}
figure{margin:1em 40px}
hr{-webkit-box-sizing:content-box;box-sizing:content-box;height:0;overflow:visible}
pre{font-family:monospace,monospace;font-size:1em}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;-moz-text-decoration:underline dotted;text-decoration:underline dotted}
b,strong{font-weight:inherit;font-weight:bolder}
code,kbd,samp{font-family:monospace,monospace;font-size:1em}
dfn{font-style:italic}
mark{background-color:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-.25em}
sup{top:-.5em}
audio,video{display:inline-block}
audio:not([controls]){display:none;height:0}
img{border-style:none}
svg:not(:root){overflow:hidden}
button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}
button,input{overflow:visible}
button,select{text-transform:none}
button,html [type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{padding:.35em .75em .625em}
legend{-webkit-box-sizing:border-box;box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}
progress{display:inline-block;vertical-align:baseline}
textarea{overflow:auto}
[type="checkbox"],[type="radio"]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}
[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}
[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
details,menu{display:block}
summary{display:list-item}
canvas{display:inline-block}
template{display:none}
[hidden]{display:none}
html{-webkit-box-sizing:border-box;box-sizing:border-box}
*,:before,:after{-webkit-box-sizing:inherit;box-sizing:inherit}
button,input,optgroup,select,textarea{font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif}
.valign-wrapper{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}
::-webkit-input-placeholder{color:#d1d1d1}
::-moz-placeholder{color:#d1d1d1}
:-ms-input-placeholder{color:#d1d1d1}
::-ms-input-placeholder{color:#d1d1d1}
::placeholder{color:#d1d1d1}
table{width:100%!important;height:auto!important;margin:0;max-width:none;border-collapse:separate;border-spacing:0;empty-cells:show;border-width:0;outline:0;table-layout:auto;position:relative}
body{background:#e5f3ea}
.container{margin:0 auto;max-width:1280px;width:90%}
.table-striped tbody tr:nth-of-type(odd){background-color:rgba(0,0,0,.02)}
tr{display:table-row;vertical-align:inherit;border-color:inherit}
.form-radio,.form-grp{position:relative}
.form-inline > .form-grp,.form-inline > .btn{display:inline-block;margin-bottom:0}
.form-help{margin-top:.125rem;margin-left:.125rem;color:#b3b3b3;font-size:.8rem}
.checkbox .form-help,.form-radio .form-help,.form-grp .form-help{position:absolute;width:100%}
.checkbox .form-help{position:relative;margin-bottom:1rem}
.form-radio .form-help{padding-top:.25rem;margin-top:-1rem}
.form-grp input{height:1.9rem}
.form-grp textarea{resize:none}
.form-grp .control-label{position:absolute;top:.25rem;pointer-events:none;padding-left:.125rem;z-index:1;color:#b3b3b3;font-size:18px;font-weight:400;-webkit-transition:all .28s ease;transition:all .28s ease;font-size:18px}
.form-grp .bar{position:relative;border-bottom:.0625rem solid #999;display:block}
.form-grp .bar::before{content:'';height:.125rem;width:0;left:50%;bottom:-.0625rem;position:absolute;background:#337ab7;-webkit-transition:left .28s ease,width .28s ease;transition:left .28s ease,width .28s ease;z-index:2}
.form-grp input,.form-grp textarea{display:block;background:none;padding:.125rem .125rem .0625rem;font-size:18px;border-width:0;border-color:transparent;line-height:1.9;width:100%;color:transparent;-webkit-transition:all .28s ease;transition:all .28s ease;box-shadow:none}
.form-grp input[type="file"]{line-height:1}
.form-grp input[type="file"] ~ .bar{display:none}
.form-grp select,.form-grp input:focus,.form-grp input:valid,.form-grp input.form-file,.form-grp input.has-value,.form-grp textarea:focus,.form-grp textarea:valid,.form-grp textarea.form-file,.form-grp textarea.has-value{color:#333}
.form-grp select ~ .control-label,.form-grp input:focus ~ .control-label,.form-grp input:valid ~ .control-label,.form-grp input.form-file ~ .control-label,.form-grp input.has-value ~ .control-label,.form-grp textarea:focus ~ .control-label,.form-grp textarea:valid ~ .control-label,.form-grp textarea.form-file ~ .control-label,.form-grp textarea.has-value ~ .control-label{font-size:14px;color:gray;top:-1rem;left:0}
.form-grp select:focus,.form-grp input:focus,.form-grp textarea:focus{outline:none}
.form-grp select:focus ~ .control-label,.form-grp input:focus ~ .control-label,.form-grp textarea:focus ~ .control-label{color:#337ab7}
.form-grp select:focus ~ .bar::before,.form-grp input:focus ~ .bar::before,.form-grp textarea:focus ~ .bar::before{width:100%;left:0}
.checkbox label,.form-radio label{position:relative;cursor:pointer;padding-left:2rem;text-align:left;color:#333;display:block}
.checkbox input,.form-radio input{width:auto;opacity:1.0E-8;position:absolute;left:0}
.radio{margin-bottom:1rem}
.radio .helper{position:absolute;top:-.25rem;left:-.25rem;cursor:pointer;display:block;font-size:1rem;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;color:#999}
.radio .helper::before,.radio .helper::after{content:'';position:absolute;left:0;top:0;margin:.25rem;width:1rem;height:1rem;-webkit-transition:-webkit-transform .28s ease;transition:-webkit-transform .28s ease;transition:transform .28s ease;transition:transform .28s ease,-webkit-transform .28s ease;border-radius:50%;border:.125rem solid currentColor}
.radio .helper::after{-webkit-transform:scale(0);transform:scale(0);background-color:#337ab7;border-color:#337ab7}
.radio label:hover .helper{color:#337ab7}
.radio input:checked ~ .helper::after{-webkit-transform:scale(0.5);transform:scale(0.5)}
.radio input:checked ~ .helper::before{color:#337ab7}
.checkbox{margin-top:3rem;margin-bottom:1rem}
.checkbox .helper{color:#999;position:absolute;top:0;left:0;width:1rem;height:1rem;z-index:0;border:.125rem solid currentColor;border-radius:.0625rem;-webkit-transition:border-color .28s ease;transition:border-color .28s ease}
.checkbox .helper::before,.checkbox .helper::after{position:absolute;height:0;width:.2rem;background-color:#337ab7;display:block;-webkit-transform-origin:left top;transform-origin:left top;border-radius:.25rem;content:'';-webkit-transition:opacity .28s ease,height 0 linear .28s;transition:opacity .28s ease,height 0 linear .28s;opacity:0}
.checkbox .helper::before{top:.65rem;left:.38rem;-webkit-transform:rotate(-135deg);transform:rotate(-135deg);box-shadow:0 0 0 .0625rem #fff}
.checkbox .helper::after{top:.3rem;left:0;-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}
.checkbox label:hover .helper{color:#337ab7}
.checkbox input:checked ~ .helper{color:#337ab7}
.checkbox input:checked ~ .helper::after,.checkbox input:checked ~ .helper::before{opacity:1;-webkit-transition:height .28s ease;transition:height .28s ease}
.checkbox input:checked ~ .helper::after{height:.5rem}
.checkbox input:checked ~ .helper::before{height:1.2rem;-webkit-transition-delay:.28s;transition-delay:.28s}
.radio + .radio,.checkbox + .checkbox{margin-top:1rem}
.has-error .legend.legend,.has-error.form-grp .control-label.control-label{color:#d9534f}
.has-error.form-grp .form-help,.has-error.form-grp .helper,.has-error.checkbox .form-help,.has-error.checkbox .helper,.has-error.radio .form-help,.has-error.radio .helper,.has-error.form-radio .form-help,.has-error.form-radio .helper{color:#d9534f}
.has-error .bar::before{background:#d9534f;left:0;width:100%}
.select{font-family:'Roboto','Helvetica','Arial',sans-serif;position:relative;width:100%}
.select-text{position:relative;font-family:inherit;background-color:transparent;width:100%;padding:0 10px 10px 0;border-radius:0;border:none;border-bottom:.0625rem solid #999;-webkit-transition:all .28s ease;transition:all .28s ease;color:#b3b3b3}
.select-text:focus{outline:none;border-bottom:1px solid rgba(0,0,0,0)}
.select .select-text{appearance:none;-webkit-appearance:none}
.select:after{position:absolute;top:8px;right:0;width:0;height:0;padding:0;content:'';border-left:6px solid transparent;border-right:6px solid transparent;border-top:6px solid rgba(0,0,0,0.12);pointer-events:none}
.select-label{color:rgba(0,0,0,0.26);font-size:18px;font-weight:400;position:absolute;pointer-events:none;left:0;top:10px;transition:.2s ease all}
.select-text:focus ~ .select-label,.select-text:valid ~ .select-label{color:#2F80ED;color:gray;top:-20px;transition:.2s ease all;font-size:14px}
.select-text:focus ~ .select-label{display:block}
.select-bar{position:relative;display:block;width:100%}
.select-bar:before,.select-bar:after{content:'';height:2px;width:0;bottom:1px;position:absolute;background:#2F80ED;transition:.2s ease all}
.select-bar:before{left:50%}
.select-bar:after{right:50%}
.select-text:focus ~ .select-bar:before,.select-text:focus ~ .select-bar:after{width:50%}
.select-highlight{position:absolute;height:60%;width:100px;top:25%;left:0;pointer-events:none;opacity:.5}
.pagination{margin-bottom: 0;}
.greenroom-nav .navbar-nav .nav-link{padding-right:2rem;padding-left:0;color:rgba(255,255,255,.8);font-family:LatoLatinWebSemibold}
.greenroom-nav .navbar-nav .nav-link:hover{padding-right:2rem;padding-left:0;color:rgba(255,255,255,1);font-family:LatoLatinWebSemibold}
.greenroom-title{font-family: 'LatoLatinWeb';font-weight: bold;font-size:25px;color: #1BB351;padding: 0 0;text-transform:capitalize;}
.btn{text-transform: capitalize;}
table {width: 100%;margin: 0;max-width: none;border-collapse: separate;border-spacing: 0;empty-cells: show;border-width: 0;outline: 0;border:1px solid #e4e4e4;}
tr {display: table-row;vertical-align: inherit;border-color: inherit;}
thead {display: table-header-group;vertical-align: middle;border-color: inherit;}
tbody {display: table-row-group;vertical-align: middle;border-color: inherit;}
/* .table-responsive-sm{border:1px solid #e4e4e4;position: relative;zoom: 1;}
.table-responsive-sm table{width: 100%!important;margin: 0;max-width: none;border-collapse: separate;border-spacing: 0;empty-cells: show;border-width: 0;outline: 0;}
.table-responsive-sm table th{overflow: hidden;border-style: solid;border-width: 0 0 1px 1px;padding: .786em .6em;font-weight: 400;white-space: nowrap;text-overflow: ellipsis;text-align: left;color: #999;box-sizing: content-box;}
.table-responsive-sm table th a{padding: 0;margin: 0;min-height: 16px;line-height: inherit;color: #999;text-decoration: none}
.table-responsive-sm table tbody{height: 200px;overflow-y: auto;width: 100%;}
.table-responsive-sm table tr {display: table-row!important;vertical-align: inherit;border-color: inherit;}
.table-responsive-sm table tr td{border-bottom-width: 1px;border-style: solid;border-color: #e4e4e4!important;}
.table-responsive-sm table tr:last-child td{border-bottom-width: 0;} */
table.dataTable thead .sorting {background-image: none!important}
table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc {background-image:none!important;}
.greenroom-card-title{font-size:18px;font-family:LatoLatinWebSemibold;}
.greenroom-card-header{background:none;}
.tbl-responsive {position: relative;border-color: #e6e6e6;}
.tbl-responsive table td {border-bottom-width: 1px;border-style: solid;border-color: #e4e4e4;border-left-width: 0!important;padding: .786em 1.286em;color: #141414;}
.tbl-responsive table th:first-child {border-left-width: 0!important;}
.tbl-responsive table tr:hover td{background: #ecf9f1;}
.tbl-responsive table th{overflow: hidden;border-style: solid;border-color: #e4e4e4;border-width: 0 0 1px 1px;padding: .786em 1.286em;font-weight: 400;white-space: nowrap;text-overflow: ellipsis;text-align: left;background:#1BB351;color: #fff;}
.tbl-responsive table th a{text-decoration: none;color: #fff;font-size: 16px;}

@media (min-width: 992px) and (max-width: 1199px) {}
@media (max-width: 1024px) {.container {width: 100%;max-width: none;}}
@media (min-width: 768px) and (max-width: 991px) {}
@media (max-width: 991px) {}
@media (max-width: 767px) {.container {width: 100%;max-width: none;}}
@media (max-width: 420px) {
  /* .container {width: 100%;max-width: none;} */
}
