*,::after,::before{-webkit-box-sizing:border-box;box-sizing:border-box}
/*When the browser is between 0px and 640px wide, max-640px.css is applied.
When the browser is between 500px and 600px wide, styles within the @media is applied.
When the browser is 640px or wider, min-640px.css is applied.
When the browser width is greater than the height, landscape.css is applied.
When the browser height is greater than the width, portrait.css is applied.*/
/*font-family: 'Didact Gothic', sans-serif;*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
select{-webkit-appearance:none;-moz-appearance:none;text-indent:1px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
body{font-family: 'LatoLatinWeb';color: #000;}
@media (min-width: 500px) and (max-width: 600px) {}
/*text slider css start*/
main{overflow:hidden}
.loading::before{content:'';position:fixed;color:#fff;top:0;left:0;width:100%;height:100%;background:#5141d6;z-index:100;text-align:center;display:-webkit-flex;display:-ms-flexbox;display:flex}
.loading::after{content:'';position:fixed;top:50%;left:50%;width:70px;height:70px;margin:-35px 0 0 -35px;pointer-events:none;z-index:101;border:7px solid #4133b4;border-top-color:#fff;border-radius:50%;-webkit-transition:opacity .3s;transition:opacity .3s;-webkit-animation:rotateLoader .8s linear infinite forwards;animation:rotateLoader .8s linear infinite forwards}
@-webkit-keyframes rotateLoader {
to{-webkit-transform:rotate3d(0,0,1,360deg);transform:rotate3d(0,0,1,360deg)}
}
@keyframes rotateLoader {
to{-webkit-transform:rotate3d(0,0,1,360deg);transform:rotate3d(0,0,1,360deg)}
}
a{text-decoration:none;color:#f0f0f0;outline:none}
a:hover,a:focus{color:#1e156d}
body, html {height: 100%;font-family: 'LatoLatinWeb';}
/*text slider css end*/*/
.ms-parent{display:inline-block;position:relative;vertical-align:middle}
.ms-choice{display:block;width:100%;height:100%;padding:0;overflow:hidden;cursor:pointer;border:1px solid #aaa;text-align:left;white-space:nowrap;line-height:auto;color:#444;text-decoration:none;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;background-color:#fff}
.ms-choice.disabled{background-color:#f4f4f4;background-image:none;border:1px solid #ddd;cursor:default}
.ms-choice > span{position:absolute;top:0;left:0;right:20px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;display:block;padding-left:8px}
.ms-choice > span.placeholder{color:#999}
.ms-choice > div{position:absolute;top:0;right:0;width:20px;height:25px;background:url(multiple-select.png) left top no-repeat}
.ms-choice > div.open{background:url(multiple-select.png) right top no-repeat}
.ms-drop{width:100%;overflow:hidden;display:none;margin-top:-1px;padding:0;position:absolute;z-index:1000;background:#fff;color:#000;border:1px solid #aaa;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.ms-drop.bottom{top:100%;-webkit-box-shadow:0 4px 5px rgba(0,0,0,.15);-moz-box-shadow:0 4px 5px rgba(0,0,0,.15);box-shadow:0 4px 5px rgba(0,0,0,.15)}
.ms-drop.top{bottom:100%;-webkit-box-shadow:0 -4px 5px rgba(0,0,0,.15);-moz-box-shadow:0 -4px 5px rgba(0,0,0,.15);box-shadow:0 -4px 5px rgba(0,0,0,.15)}
.ms-search{display:inline-block;margin:0;min-height:26px;padding:4px;position:relative;white-space:nowrap;width:100%;z-index:10000}
.ms-search input{width:100%;height:auto!important;min-height:24px;padding:0 20px 0 5px;margin:0;outline:0;font-family:sans-serif;font-size:1em;border:1px solid #aaa;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;background:#fff url(multiple-select.png) no-repeat 100% -22px;background:url(multiple-select.png) no-repeat 100% -22px,-webkit-gradient(linear,left bottom,left top,color-stop(0.85,white),color-stop(0.99,#eee));background:url(multiple-select.png) no-repeat 100% -22px,-webkit-linear-gradient(center bottom,white 85%,#eee 99%);background:url(multiple-select.png) no-repeat 100% -22px,-moz-linear-gradient(center bottom,white 85%,#eee 99%);background:url(multiple-select.png) no-repeat 100% -22px,-o-linear-gradient(bottom,white 85%,#eee 99%);background:url(multiple-select.png) no-repeat 100% -22px,-ms-linear-gradient(top,#fff 85%,#eee 99%);background:url(multiple-select.png) no-repeat 100% -22px,linear-gradient(top,#fff 85%,#eee 99%)}
.ms-search,.ms-search input{-webkit-box-sizing:border-box;-khtml-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
.ms-drop ul{overflow:auto;margin:0;padding:5px 8px}
.ms-drop ul > li{list-style:none;display:list-item;background-image:none;position:static}
.ms-drop ul > li .disabled{opacity:.35;filter:Alpha(Opacity=35)}
.ms-drop ul > li.multi{font-weight:400;display:block;white-space:nowrap}
.ms-drop ul > li label.optgroup{font-weight:700}
.ms-drop input[type="checkbox"]{vertical-align:middle}
.ms-drop .ms-no-results{display:none}
.custom-control-label::before,.custom-control-label::after{top:0;}


.group{position:relative;margin: 0 0 10px 0;padding: 0;}
.group input{font-size:14px;padding:0;margin:0!important;display:block;width:100%;border:none;border-bottom:1px solid rgba(0,0,0,0.12);font-family: 'LatoLatinWeb';}
.group input:focus{outline:none;font-family: 'LatoLatinWeb';}
.group label{padding: 0;margin: 0; color:#282828;font-size:14px!important;font-weight:400;position:absolute;pointer-events:none;left:0;top:10px;transition:.2s ease all;-moz-transition:.2s ease all;-webkit-transition:.2s ease all;font-family: 'LatoLatinWeb';font-weight: 600!important;}
.group input:focus ~ label,.group input:valid ~ label{top:-20px;font-size:12px!important;color:#5264AE;font-family: 'LatoLatinWeb';color: #1a73e8;}
.group .bar{position:relative;display:block;width:100%}
.group .bar:before,.group .bar:after{content:'';height:1px!important;width:0;bottom:1px;position:absolute;background:#1a73e8;transition:.2s ease all;-moz-transition:.2s ease all;-webkit-transition:.2s ease all}
.group .bar:before{left:50%}
.group .bar:after{right:50%}
.group input:focus ~ .bar:before,.group input:focus ~ .bar:after{width:50%;font-family: 'LatoLatinWeb';}
.group .highlight{position:absolute;width:100%;top:25%;left:0;pointer-events:none;opacity:.5}
.group input:focus ~ .highlight{-webkit-animation:inputHighlighter .3s ease;-moz-animation:inputHighlighter .3s ease;animation:inputHighlighter .3s ease}
@-webkit-keyframes inputHighlighter {
from{background:#5264AE}
to{width:0;background:transparent}
}
@-moz-keyframes inputHighlighter {
from{background:#5264AE}
to{width:0;background:transparent}
}
@keyframes inputHighlighter {
from{background:#5264AE}
to{width:0;background:transparent}
}
.btn{font-family: 'LatoLatinWeb';font-weight: 600;}
.invalid-feedback{font-family: 'LatoLatinWeb';font-weight: 600;}