.header{background:#fff;padding:22px 0;margin:0;-webkit-box-shadow:0 10px 6px -6px #f2f2f2;-moz-box-shadow:0 10px 6px -6px #f2f2f2;box-shadow:0 10px 6px -6px #f2f2f2}
.greenroom_nav{margin:40px 0 0}
.greenroom_nav li{display:block;width:100%}
.greenroom_nav a{text-transform:uppercase;font-size:16px;color:#002f6e;font-weight:700;padding:5px 0}
.greenroom_nav .active a,.greenroom_nav a:hover{color:#009035}
.greenroom-banner{position:relative;display:block;height:500px!important;overflow:hidden}
.navbar-toggler-icon{width:auto!important;height:auto!important}
.bnr_title{font-family:'LatoLatinWebBlack';font-size:30px;padding:0;margin:0;text-align:center;color:#009035}
.sml-title{font-family:'LatoLatinWebLight';font-size:16px;text-align:center;padding:10px 0 20px;margin:0;color:#000}
.select_customarrow{-webkit-appearance:none;-moz-appearance:none;background-image:url(../img/icon/icon_arrow_down_tab.png)!important;background-repeat:no-repeat;background-position:95% center}
.inputGroup{padding:0;margin:0;display:flex;flex-wrap:wrap;width:100%}
.inputGroup .city_name{width:100%;margin:0 0 10px}
.inputGroup .city_name *{border:none!important;width:100%!important;height:45px!important;line-height:45px!important;border-radius:0!important}
.inputGroup .city_name .select2-container--default .select2-selection--single .select2-selection__rendered{padding-left:14px!important}
.inputGroup .gander{width:100%;margin:0 0 10px}
.inputGroup .gander *{border:none!important;width:100%!important;height:45px!important;line-height:45px!important;border-radius:0!important;padding-top:0!important;padding-bottom:0!important}
.inputGroup .location{width:100%;margin:0 0 10px;position:relative}
.inputGroup .location .loc{display:none}
.inputGroup .location .select2-container{width:100%!important}
.inputGroup .location .select2-container .select2-selection--multiple{min-height:45px;border-radius:0;border:none;width:100%;padding:10px 0 0 9px;margin:0}
.inputGroup .location .select2-container--default .select2-selection--multiple .select2-selection__choice{background-color:#009035;border:1px solid #009035;border-radius:0;cursor:default;float:left;margin-right:5px;margin-top:5px;padding:0 5px;font-size:14px;font-family:'LatoLatinWeb'}
.inputGroup .location .select2-container--default .select2-selection--multiple .select2-selection__choice__remove{color:#fff;cursor:pointer;display:inline-block;font-weight:700;margin-right:2px}
.inputGroup .search{width:100%;background:#009035;height:45px}
.inputGroup .search a{display:block;text-align:center}
.inputGroup .search .icon-search{display:block;margin:10px auto 0;display:flex;align-items:center;height:25px}
.inputGroup .gander{width:100%}
.inputGroup .location{width:100%;background:none}
.sml-title-1{color:#000;text-align:center;padding:20px 0 10px;margin:0}
.sml-title-2{color:#000;text-align:center}
.why_choose_greenroom{display:block;padding:0 30px;margin:0}
.titleBox{display:block;margin:0 auto;padding:60px 0}
.titleBox .title{text-align:center;font-family:'LatoLatinWebLight';font-size:30px;padding:0;margin:0}
.titleBox .lines{display:flex;justify-content:space-between}
.titleBox .lines .hr{padding:0;margin:20px 0 0;line-height:normal;height:8px;width:1px;background:#000;transform:rotate(45deg);transition:transform 2s;color:#143f79;display:none}
.spc{padding:47px 0 44px}
.greenroom-spec{padding:0;margin:0;list-style-type:none;display:flex;justify-content:space-between;flex-wrap:wrap}
.greenroom-spec li{padding:0;margin:0 0 30px;list-style-type:none;text-align:center;width:calc(100% /1)}
.greenroom-spec li:last-child{padding:0;margin:0;list-style-type:none;text-align:center;width:calc(100% /1)}
.greenroom-spec li .circle{background:url(../img/icon/icon_circle_tab.png)left top no-repeat;width:75px;height:75px;margin:0 auto 20px;padding:0}
.greenroom-spec li .circle img{max-width:100%;display:block;height:auto}
.greenroom-spec li .circle01{background:url(../img/icon/icon_circle_01_tab.png)left top no-repeat;width:75px;height:75px;margin:0 auto 20px;padding:0}
.greenroom-spec li .circle01 img{max-width:100%;display:block;height:auto}
.greenroom-spec span{font-family:'LatoLatinWebSemibold'}
.greenroom-spec span.title{font-family:'LatoLatinWebLight';font-size:20px}
.parallax{background-image:url(../img/bnr05.jpg);background-size:cover;background-position-x:50%;background-position-y:0;background-repeat:no-repeat;height:100%;position:relative}
.parallax .transperant{background:url(../img/icon/icon-trasperant.png)top left repeat;display:block;width:100%;height:100%;position:absolute;top:0;left:0;right:0;z-index:99!important}
.parallax .content{padding:80px 0;margin:0;position:relative;z-index:999999999999!important;width:100%;margin:0 auto}
.parallax .content h1{font-family:'LatoLatinWebLight';color:#fff;font-size:24px;text-align:center}
.parallax .content .refer_earn{margin:0 auto;display:table;font-size:14px}
.refer{margin:48px auto 0}
.mt-100{margin:32px 0 0;padding:0}
.property_list{padding:0;width:100%;margin:0 auto!important}
.property_list .block{margin:0;background:#fff;padding:10px;position:relative}
.property_list .block .item{-webkit-box-shadow:0 0 5px 2px rgba(0,0,0,0.1);box-shadow:0 0 5px 2px rgba(0,0,0,0.1);height:350px;width:100%;padding:3px 0 0 3px}
.property_list .block .thumb{padding:10px 13px 0 10px}
.property_list .block .thumb img{max-width:100%}
.property_list.owl-stage-outer{display:flex;justify-content:center}
.property_list .block .content{padding:15px 10px 0}
.property_list .block .content .title{font-family:'LatoLatinWeb';font-weight:600}
.property_list .block .content .place{font-size:12px;padding:8px 0 0;margin:0;display:block}
.property_list .block .content .btm-block{position:absolute;bottom:22px;display:flex;justify-content:space-between;width:100%;line-height:30px;left:0;right:0;margin:0 auto;padding:0 24px}
.property_availability{padding:20px 0;margin:50px 0 0;display:block;background:#f2f2f2}
.property_availability .block{display:block;padding:0;margin:0;border-right:1px solid #d9d9d9}
.property_availability .boderNo{border-right:none}
.property_availability .block .icon{width:42px;height:42px;display:block;margin:0 auto}
.property_availability .block h1,.property_availability .block span{text-align:center;padding:0;margin:0;display:block}
.property_availability .block h1{font-family:'LatoLatinWebHeavy';font-size:16px;color:#009035;padding:0;margin:15px 0 0}
.property_availability .block span{font-size:14px;color:#009035;padding:5px 0 0;margin:0}
.footer{background:#009035;padding:25px 9px 3px;margin:50px 0 0}
.m-title{color:#fff;font-size:18px;padding:0;margin:0 0 15px}
.footer .specs{padding:0;margin:0 0 15px}
.footer .specs li{padding:0;margin:0}
.footer .specs li a{padding:5px 0;margin:0;font-size:13px;color:#edfff4;display:block;font-family:'LatoLatinWebLight'}
.ftr{background:#edf2f0;color:#009035;padding:22px 0;margin:0;font-family:'LatoLatinWebBlack';display:flex;flex-wrap:wrap}
.ftr .lside{width:100%;display:block}
.ftr p{padding:0;font-size:12px;text-align:left}
.ftr .socialIcons{display:flex;justify-content:center;align-items:center;width:100%;padding:0;margin:10px 0 0}
.ftr .socialIcons li{text-align:center;display:inline-block;padding:0;margin:0 5px}
.ftr .socialIcons i{font-size:20px;margin:0}
.xt-0{margin-top:0!important}
.xb-10{margin-bottom:10px!important}
.nocontainer{width:100%;padding-right:0;padding-left:0;margin-right:auto;margin-left:auto}
.titleBoxInner{display:table;margin:0 auto;padding:46px 0 0}
.titleBoxInner .title{text-align:center;font-family:'LatoLatinWebLight';font-size:30px;padding:0 0 21px;margin:0}
.titleBoxInner .lines{background:url(../img/icon/line.png)center center no-repeat;height:5px}
.titleSmallBoxInner{display:table;margin:0 auto;padding:0}
.titleSmallBoxInner .title{text-align:center;font-family:'LatoLatinWeb';font-weight:700;font-size:24px;padding:0 0 21px;margin:0;text-transform:uppercase}
.titleSmallBoxInner .lines{background:url(../img/icon/line.png)center center no-repeat;height:5px}
.about{padding:0;margin:0}
.about .content{padding:0;margin:0}
.about .content p{padding:36px 0 0;margin:0;font-family:'LatoLatinWebLight';font-size:18px;line-height:1.4em;text-align:center}
.about .containing p{padding:74px 0 73px;margin:0;font-family:'LatoLatinWebLight';font-size:18px;line-height:1.4em;text-align:center}
.faqs{padding:50px 0 0;margin:0}
.faqs .questionnaire{padding:0;margin:0}
.faqs .questionnaire li{padding:0 11px;margin:0 0 55px}
.faqs .questionnaire li:last-child{padding:0 11px;margin:0}
.faqs .questions{font-family:'LatoLatinWeb';font-weight:800;font-size:16px;font-style:italic;padding:0;margin:0 0 28px}
.faqs .answers{font-family:'LatoLatinWebLight';font-size:16px;line-height:1.4em;text-align:justify}
.services{padding:0;margin:50px 0 0}
.services .detailBox{background:#fafafa}
.services .detailBox .detailItem{display:flex;flex-wrap:wrap;align-items:center}
.services .detailBox .detailItem .leftSide{widowsth:100%}
.services .detailBox .detailItem .leftSide img{max-width:100%}
.services .detailBox .detailItem .rightSide{width:100%;padding:80px 30px}
.services .detailBox .detailItem .rightSide h1{font-family:'LatoLatinWebBlack';font-size:18px;color:#009035;padding:0 0 10px;margin:0}
.services .detailBox .detailItem .rightSide p{font-family:'LatoLatinWeb';font-size:12px;color:#000;padding:0;margin:0;line-height:1.1em}
.t_n_c{padding:0;margin:51px 0 0}
.t_n_c ul{padding:0;margin:0}
.t_n_c ul li{font-family:'LatoLatinWeb';font-weight:800;font-size:14px;font-style:italic;padding:0 25px;margin:0 0 28px;line-height:1.6em;text-align:justify}
.t_n_c ul li:last-child{font-family:'LatoLatinWeb';font-weight:800;font-size:16px;font-style:italic;padding:0 25px;margin:0;line-height:1.6em;text-align:justify}
.t_n_c .icon{margin-right:0}
.lbox{background:#000;width:100%;height:500px;display:flex;color:#fff;align-items:center;justify-content:center}
.lbox ul{width:100%}
.lbox ul li{width:100%;display:block;text-align:center}
.lbox ul li h3{text-align:center}
.list_your_property{padding:30px;margin:50px 0 0;width:100%;background:#f0f4f3;-webkit-box-shadow:0 0 5px 0 rgba(0,0,0,0.16);-moz-box-shadow:0 0 5px 0 rgba(0,0,0,0.16);box-shadow:0 0 5px 0 rgba(0,0,0,0.16)}
.list_your_property .title{font-family:'LatoLatinWeb';font-size:18px;color:#000;padding:0;margin:25px 0;line-height:1.1em;font-weight:500;text-align:center}
.list_your_property .progress{height:10px;background:#a5bfb4}
.list_your_property .progress .progress-bar{background:#045433}
.list_your_property a{color:#000}
.list_your_property .pager{display:flex;justify-content:space-between;font-family:'LatoLatinWeb';font-weight:400;text-transform:uppercase;font-size:14px}
.list_your_property .pager a{text-decoration:none}
.list_your_property .pager .disabled{color:#000;opacity:.2;text-decoration:none;pointer-events:none}
.list_your_property .form-group{padding:0;margin:15px 0}
.form-control-gr{width:100%;height:40px;border:1px solid #327257;background:none;border-radius:10px;font-weight:500;font-size:16px;color:#045433!important;position:relative}
.form-control-gr:focus{background:#f0f4f3!important;border-color:#f0f4f3}
.form-control:focus{box-shadow:0 0 0 .1rem rgba(4,84,51,1)}
.form-control-select{position:relative}
.form-control-select .select-arrow-down{-webkit-appearance:none;-moz-appearance:none;background-image:url(../img/icon/icon_arrow_down.png)!important;background-repeat:no-repeat!important;background-position:97% center!important}
.btn-custom{font-weight:400;text-align:center;font-size:30px;padding:30px;margin:0}
.select-style-costom .ms-parent{display:inline-block;position:relative;vertical-align:middle}
.select-style-costom .ms-choice{display:block;width:100%;height:100%;padding:0;overflow:hidden;cursor:pointer;border:1px solid transparent;text-align:left;white-space:nowrap;line-height:auto;color:#045433!important;text-decoration:none;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;background:none;line-height:50px}
.select-style-costom .ms-choice.disabled{background-color:#f4f4f4;background-image:none;border:1px solid #ddd;cursor:default}
.select-style-costom .ms-choice > span{position:absolute;top:0;left:0;right:20px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;display:block;padding-left:13px}
.select-style-costom .ms-choice > span.placeholder{color:#999}
.select-style-costom .ms-choice > div.open{background:url(multiple-select.png) right top no-repeat}
.select-style-costom .ms-drop{width:100%;overflow:hidden;display:none;margin-top:-1px;padding:0;position:absolute;z-index:1000;background:#fff;color:#000;border:1px solid #aaa;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.select-style-costom .ms-drop.bottom{top:100%;-webkit-box-shadow:0 4px 5px rgba(0,0,0,.15);-moz-box-shadow:0 4px 5px rgba(0,0,0,.15);box-shadow:0 4px 5px rgba(0,0,0,.15)}
.select-style-costom .ms-drop.top{bottom:100%;-webkit-box-shadow:0 -4px 5px rgba(0,0,0,.15);-moz-box-shadow:0 -4px 5px rgba(0,0,0,.15);box-shadow:0 -4px 5px rgba(0,0,0,.15)}
.select-style-costom .ms-search{display:inline-block;margin:0;min-height:26px;padding:4px;position:relative;white-space:nowrap;width:100%;z-index:10000}
.select-style-costom .ms-search input{width:100%;height:auto!important;min-height:24px;padding:0 20px 0 5px;margin:0;outline:0;font-family:sans-serif;font-size:1em;border:1px solid #aaa;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;background:#fff url(multiple-select.png) no-repeat 100% -22px;background:url(multiple-select.png) no-repeat 100% -22px,-webkit-gradient(linear,left bottom,left top,color-stop(0.85,white),color-stop(0.99,#eee));background:url(multiple-select.png) no-repeat 100% -22px,-webkit-linear-gradient(center bottom,white 85%,#eee 99%);background:url(multiple-select.png) no-repeat 100% -22px,-moz-linear-gradient(center bottom,white 85%,#eee 99%);background:url(multiple-select.png) no-repeat 100% -22px,-o-linear-gradient(bottom,white 85%,#eee 99%);background:url(multiple-select.png) no-repeat 100% -22px,-ms-linear-gradient(top,#fff 85%,#eee 99%);background:url(multiple-select.png) no-repeat 100% -22px,linear-gradient(top,#fff 85%,#eee 99%)}
.select-style-costom .ms-search,.ms-search input{-webkit-box-sizing:border-box;-khtml-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
.select-style-costom .ms-drop ul{overflow:auto;margin:0;padding:5px 8px}
.select-style-costom .ms-drop ul > li{list-style:none;display:list-item;background-image:none;position:static}
.select-style-costom .ms-drop ul > li .disabled{opacity:.35;filter:Alpha(Opacity=35)}
.select-style-costom .ms-drop ul > li.multiple{display:block;float:left}
.select-style-costom .ms-drop ul > li.group{clear:both}
.select-style-costom .ms-drop ul > li.multiple label{width:100%;display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.select-style-costom .ms-drop ul > li label{font-weight:400;display:block;white-space:nowrap;font-size:16px;padding:5px 0;margin:0}
.select-style-costom .ms-drop ul > li label.optgroup{font-weight:700}
.select-style-costom .ms-drop input[type="checkbox"]{vertical-align:middle;margin-right:10px}
.select-style-costom .ms-drop .ms-no-results{display:none}
.list_specs .content{position:relative;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;flex-wrap:wrap;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;width:100%;height:100%;min-height:150px;padding:0;overflow:hidden}
.list_specs .content--c2{color:#fff;background:#045433;background-size:cover}
.list_specs .content--c2 .section-link{color:#f03c3c}
.list_specs .title{margin:0;font-size:5vw;position:relative}
.list_specs .title--centered{width:100%;text-align:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}
.mb-xs-15{margin-bottom:15px}
.searchSection{padding:20px 0 0;margin:50px 0 0;display:block;background:#009035;min-height:235px}
.searchSection .searchBox{height:40px;width:100%;background:#fff;-webkit-box-shadow:0 0 10px 0 rgba(0,0,0,0.53);-moz-box-shadow:0 0 10px 0 rgba(0,0,0,0.53);box-shadow:0 0 10px 0 rgba(0,0,0,0.53);display:block}
.searchSection .searchBox select{width:100%;padding-left:20px;font-size:14px;border-right:1px solid #b2b2b2;height:40px;background:#f8f8f8;margin:0 0 10px}
.searchSection .searchBox .locality-multiple{width:100%;height:40px!important}
.searchSection .select2-container{height:inherit!important;padding:0;margin:0}
.searchSection .select2-container--open .select2-dropdown{top:0}
.searchSection .select2-container--default .select2-selection--multiple .select2-selection__choice{background-color:#f8f8f8!important;border:1px solid #d7d7d7!important;border-radius:0!important;cursor:default;float:left;margin:0 5px 0 0 !important;padding:5px!important;display:block}
.searchSection .select2-container--default .select2-selection--multiple{background-color:#f8f8f8!important;border:1px solid #d7d7d7!important;border-radius:0!important;cursor:default;float:left;margin:0 5px 0 0 !important;padding:5px!important;width:100%;display:block}
.searchSection .searchBox .localityItem{width:100%;display:block;height:50px}
.searchSection .searchBox .searchItem{background:#f3f3f3;display:flex;align-items:center;padding:10px 0;margin:0;width:100%;text-align:center;justify-content:center}
.searchResult{width:100%;display:block;justify-content:space-between}
.searchResult .refineSearch{width:100%}
.searchResult .refineResult{width:100%;padding:0;margin:20px 0 0}
.searchResult .refineSearch .card-title{font-family:'LatoLatinWeb';font-weight:700;font-size:15px}
.searchResult .refineSearch .card-header{background:#f3f3f3;cursor:pointer;padding:19px 20px}
.searchResult .refineResult .card{-webkit-box-shadow:0 0 5px 0 rgba(0,0,0,0.1);-moz-box-shadow:0 0 5px 0 rgba(0,0,0,0.1);box-shadow:0 0 5px 0 rgba(0,0,0,0.1)}
.searchResult .refineResult .card .card-body{padding:14px;margin:0;display:flex;flex-wrap:wrap}
.searchResult .refineResult .card .card-body .lside{width:100%}
.searchResult .refineResult .card .card-body .rside{width:100%;color:#000;padding:0;margin:50px 0 0;position:relative}
.searchResult .refineResult .card .card-body .lside .status{display:block;font-weight:700;font-size:14px}
.searchResult .refineResult .card .card-body .lside .view{color:#000;font-size:14px;font-weight:700;text-decoration:underline;display:flex;justify-content:flex-end}
.searchResult .refineResult .card .card-body .lside .pricing{font-family:'LatoLatinWebHeavy';font-size:18px}
.searchResult .refineResult .card .card-body .lside .shortlist{background:#009035;font-weight:700;text-transform:uppercase;color:#fff;padding:10px 15px 8px;margin:0;-webkit-box-shadow:0 0 10px 0 rgba(0,0,0,0.53);-moz-box-shadow:0 0 10px 0 rgba(0,0,0,0.53);box-shadow:0 0 10px 0 rgba(0,0,0,0.53);font-size:14px}
.searchResult .refineResult .card .card-body .lside .shortlist:hover{text-decoration:none;opacity:.9}
.searchResult .refineResult .card .card-body .rside .title{color:#1a0dab;font-size:20px;font-weight:600;text-decoration:none;display:block}
.searchResult .refineResult .card .card-body .rside .locatonHint{font-size:14px;font-style:italic;opacity:.7;padding:0;margin:10px 0 0;display:block}
.searchResult .refineResult .card .card-body .rside p{font-size:14px;opacity:.8;font-style:italic;font-weight:600;line-height:1.4em;padding:0;margin:0 0 20px}
.searchResult .refineResult .card .card-body .rside .specs{padding:0;margin:0;display:flex;position:relative}
.searchResult .refineResult .card .card-body .rside .specs li{padding:10px;margin:5px 5px 0 0;border:1px dashed #bebebe;font-size:13px;font-family:'LatoLatinWebSemibold'}
.searchResult .refineResult .card .card-body .rside .specs li span{color:#009035;margin:0 0 0 5px}
.searchResult .refineResult .dropdown-toggle{cursor:pointer}
.searchResult .refineResult .dropdown-toggle::after{display:none}
.custom-control-label{font-size:14px}
.selectedItem{line-height:31px;font-size:16px;font-family:'LatoLatinWeb'}
.selectedItem span{font-weight:700}
.ads{width:100%;height:216px;font-family:'LatoLatinWeb';font-size:18px;font-weight:700;color:#000;background:#f8f8f8;display:flex;align-items:center;justify-content:center;padding:0;margin:0 0 15px}
.pick-up-service{display:block}
.pick-up-service .heading{font-family:'LatoLatinWeb';font-style:italic;font-size:16px;font-weight:500;display:block;width:100%}
.pick-up-service .heading span{font-weight:700}
.pick-up-service label{font-size:16px}
.pick-up-service .iAcceptService{background:#15485e;font-size:16px;font-weight:700;color:#fff;border:none;text-transform:uppercase;padding:10px 15px;margin:0;border-radius:4px;-webkit-box-shadow:0 0 20px 0 rgba(0,0,0,0.2);-moz-box-shadow:0 0 20px 0 rgba(0,0,0,0.2);box-shadow:0 0 20px 0 rgba(0,0,0,0.2);cursor:pointer;outline:none}
.searchResult .refineResult .card .card-body .chkbox{position:absolute;right:5px;top:0;z-index:999!important}
.login{width:90%;position:relative;top:50%;transform:translateY(-50%);font-family:arial;font-size:30px;line-height:1.8em;-webkit-box-shadow:0 0 10px 0 rgba(0,0,0,0.16);-moz-box-shadow:0 0 10px 0 rgba(0,0,0,0.16);box-shadow:0 0 10px 0 rgba(0,0,0,0.16);border-radius:10px;position:relative}
.login .card{border-radius:10px}
.login .card .logos{width:150px}
.login .card-body{padding:0 30px;position:relative;overflow:hidden}
.login .signin{padding:0;margin:0}
.login .title{font-size:20px;font-family:'LatoLatinWebMedium'}
.login .forgotEmail{font-size:14px;color:#1a73e8;font-weight:700;font-family:'LatoLatinWebMedium'}
.login .card-body .login_footer{display:flex;justify-content:space-between;width:100%;align-items:center;padding:50px 0 20px;margin:0}
.login .form-group{padding:0;line-height:normal}
.text-muted{color:#6c757d!important;font-size:11px;line-height:normal;padding:0;margin:0}
.property{padding:0;margin:0}
.property .head{padding:0;margin:20px auto 33px;display:flex;justify-content:space-between;align-items:center;flex-wrap:wrap}
.property .head .title{font-family:'LatoLatinWeb';font-size:18px;color:#009035}
.property .head .smltitle{font-family:'LatoLatinWeb';font-weight:500;font-size:13px;font-style:italic;opacity:.8;padding:8px 0 20px;margin:0;display:block}
.property .head .shortlisted{background:#009035;font-weight:700;text-transform:uppercase;color:#fff;padding:7px 8px 8px;margin:0;-webkit-box-shadow:0 0 5px 0 rgba(0,0,0,0.3);-moz-box-shadow:0 0 5px 0 rgba(0,0,0,0.3);box-shadow:0 0 5px 0 rgba(0,0,0,0.3);font-size:15px}
.property .head .shortlisted:hover{text-decoration:none;opacity:.9}
.property .rangeBox{-webkit-box-shadow:0 -1px 3px 1px rgba(0,0,0,0.1);-moz-box-shadow:0 -1px 3px 1px rgba(0,0,0,0.1);box-shadow:0 -1px 3px 1px rgba(0,0,0,0.1)}
.property .rangeBox .rangeContainer{display:flex;justify-content:space-between;align-items:center;height:inherit;flex-wrap:wrap;padding:20px 0;margin:0}
.property .rangeBox .rangeContainer .pricing{font-size:20px;font-weight:400;padding:0;margin:0}
.property .rangeBox .rangeContainer .pricing span{font-size:16px;font-weight:600;color:#009035}
.property .lSPager{padding:0;margin:0;display:flex}
.property .lSPager li{width:75px!important;height:75px!important;border-radius:0!important}
.titleInner{display:table;margin:0 auto;padding:0 0 50px}
.titleInner .title{display:table;text-align:center;font-family:'LatoLatinWebLight';font-size:20px;padding:0 0 15px;margin:0 auto;text-transform:uppercase;background:url(../img/icon/line.png)center bottom no-repeat}
.property p{font-family:'LatoLatinWeb'!important;font-weight:400!important;line-height:1.3em!important;margin:0;padding:0 0 20px!important}
.property .listItem{display:block;padding:0;margin:50px 0 0}
.property .listItem .listBox{padding:0;margin-bottom:1rem;border:1px dashed #009035;width:100%;height:70px;display:flex}
.property .listItem .listBox .strip{width:8px;height:68px;background:#009035}
.property .listItem .listBox .proImg{border-right:1px dashed #009035}
.property .listItem .listBoxDetails{padding:0;margin-bottom:1rem;border:1px dashed #009035;width:100%;border-top:none}
.property .listBoxContainer{display:flex;justify-content:space-between;align-items:center;width:calc(100% - 68px);flex-wrap:wrap}
.property .listBoxContainer h1{color:#009035;font-weight:600;font-size:24px;padding:0;margin:0 0 0 20px;display:block;width:100%}
.property .listBoxContainer h1 span{font-size:12px}
.property .listBoxContainer .title{font-size:16px;color:#000;padding:0;margin:0 0 0 20px}
.property .listBoxContainer .title01{font-size:16px;color:#009035;padding:0;margin:0 0 0 20px;font-weight:200;font-style:italic}
.youmayalsolike{background:#f0f4f3;padding:0 0 50px}
.youmayalsolike .property_list .block{background:none}
.youmayalsolike .property_list .block .item{background:#fff}
.list_ur_property{padding:0;margin:0;width:100%;background:#f0f4f3;height:100%;border:1px solid #a5bfb4;-webkit-box-shadow:0 0 16px 0 rgba(0,0,0,0.1);-moz-box-shadow:0 0 16px 0 rgba(0,0,0,0.1);box-shadow:0 0 16px 0 rgba(0,0,0,0.1);overflow:hidden}
.list_ur_property .lside{background:#dfe8e5;height:100vh;display:none}
.list_ur_property .rside{background:#fff;padding:15px 45px 15px 30px;margin:0;overflow:hidden}
.list_ur_property .nav{width:100vw;margin:0}
.list_ur_property .nav-link{padding:20px;width:100%;color:#009035;font-family:'LatoLatinWeb';font-weight:900}
.list_ur_property .nav-pills .nav-link.active,.list_ur_property .nav-pills .show>.nav-link{color:#009035;background-color:#fff}
.list_ur_property label{padding:0 0 10px;font-family:'LatoLatinWeb';color:#171b19;font-size:16px}
.list_ur_property .tab-content{position:relative;height:100%}
.list_ur_property .tab-content .pager{display:flex;justify-content:space-between;position:relative;bottom:0;right:0;left:0}
.sellerProfile{background:none;margin:0;padding:30px 0;display:flex;justify-content:space-between;align-items:center;width:100%;flex-wrap:wrap}
.sellerProfile .view_details{margin:15px 0 0}
.sellerProfile .profilePic{display:flex;align-items:center}
.sellerProfile .profilePic .user{width:75px;height:75px}
.sellerProfile .profilePic .username{font-family:'LatoLatinWebHeavy';color:#002f6e;font-size:20px;padding:0;margin:0 0 0 20px}
.sellerProfile .profilePic .custId{padding:0;margin:5px 0 0 20px;font-size:14px}
.sellersec .select2-container--default .select2-selection--multiple .select2-selection__rendered{box-sizing:border-box;list-style:none;margin:0;padding:0 5px;width:100%!important}
.sellersec .localityItem{overflow:hidden}
.sellerProfile .profilePic .user50{width:50px;height:50px}
.sellerProfile .profilePic .username01{font-family:'LatoLatinWebHeavy';color:#002f6e;font-size:16px;padding:0;margin:0 0 0 20px}
.sellerProfile .profilePic .custId01{padding:0;margin:5px 0 0 20px;font-size:12px}
.list_ur_property_btn{font-size:.9rem}
.seller{padding:20px 0 2px;margin:0;display:block;background:#f2f2f2}
.seller .nav-pills{padding:0;color:#000;width:100%;display:block}
.seller .nav-link{color:#000;padding:15px 30px;font-family:'LatoLatinWeb';font-size:16px;display:block;width:100%}
.seller .nav-pills .nav-link.active,.seller .nav-pills .show>.nav-link{color:#fff;background-color:#009035}
.removeProperty{background:#cd0000;font-weight:700;text-transform:uppercase;color:#fff;padding:10px 15px 8px;margin:0;-webkit-box-shadow:0 0 5px 0 rgba(0,0,0,0.3);-moz-box-shadow:0 0 5px 0 rgba(0,0,0,0.3);box-shadow:0 0 5px 0 rgba(0,0,0,0.3)}
.removeProperty:hover{text-decoration:none;opacity:.9;color:#fff}
.text-big{font-size:24px;font-family:'LatoLatinWeb';font-weight:500}
.line_height_1_6{line-height:1.6em}
.btn-dark:focus,.btn-dark:active{color:#fff!important}

.seller_green{padding:20px 0 5px 0;margin:0;display:block;background:#009035;}
.seller_green .nav-pills{padding:0;color:#fff;width:100%;display:block}
.seller_green .nav-link{color:#fff;padding:15px 15px;font-family:'LatoLatinWeb';font-size:16px;display:block;width:100%}
.seller_green .nav-pills .nav-link.active,.seller_green .nav-pills .show>.nav-link{color:#009035;background-color:#fff;}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .greenroom-spec{padding:0;margin:0;list-style-type:none;display:flex;justify-content:space-between;flex-wrap:wrap}
    .greenroom-spec li{padding:0;margin:0 0 30px;list-style-type:none;text-align:center;width:calc(100% / 3)}
    .greenroom-spec li:last-child{padding:0;margin:0 0 30px;list-style-type:none;text-align:center;width:calc(100% / 3)}
    .property_list .block .item{-webkit-box-shadow:0 0 5px 2px rgba(0,0,0,0.1);box-shadow:0 0 5px 2px rgba(0,0,0,0.1);height:300px;width:100%;padding:3px 0 0 3px}
    .searchResult{width:100%;display:flex;justify-content:space-between}
    .searchResult .refineSearch{width:250px}
    .searchResult .refineResult{width:calc(100% - 250px);padding:0 0 0 15px}
    .searchResult .refineSearch .card-title{font-family:'LatoLatinWeb';font-weight:700;font-size:15px}
    .searchResult .refineSearch .card-header{background:#f3f3f3;cursor:pointer;padding:19px 20px}
    .searchResult .refineResult .card{-webkit-box-shadow:0 0 5px 0 rgba(0,0,0,0.1);-moz-box-shadow:0 0 5px 0 rgba(0,0,0,0.1);box-shadow:0 0 5px 0 rgba(0,0,0,0.1)}
    .searchResult .refineResult .card .card-body{padding:14px;margin:0;display:flex}
    .searchResult .refineResult .card .card-body .lside{width:100%}
    .searchResult .refineResult .card .card-body .rside{width:100%;color:#000;padding:0;margin:50px 0 0;position:relative}
    .searchResult .refineResult .card .card-body .lside .status{display:block;font-weight:700;font-size:14px}
    .searchResult .refineResult .card .card-body .lside .view{color:#000;font-size:14px;font-weight:700;text-decoration:underline;display:flex;justify-content:flex-end}
    .searchResult .refineResult .card .card-body .lside .pricing{font-family:'LatoLatinWebHeavy';font-size:18px}
    .searchResult .refineResult .card .card-body .lside .shortlist{background:#009035;font-weight:700;text-transform:uppercase;color:#fff;padding:10px 15px 8px;margin:0;-webkit-box-shadow:0 0 10px 0 rgba(0,0,0,0.53);-moz-box-shadow:0 0 10px 0 rgba(0,0,0,0.53);box-shadow:0 0 10px 0 rgba(0,0,0,0.53);font-size:14px}
    .searchResult .refineResult .card .card-body .lside .shortlist:hover{text-decoration:none;opacity:.9}
    .searchResult .refineResult .card .card-body .rside .title{color:#1a0dab;font-size:20px;font-weight:600;text-decoration:none;display:block}
    .searchResult .refineResult .card .card-body .rside .locatonHint{font-size:14px;font-style:italic;opacity:.7;padding:0;margin:5px 0 0;display:block}
    .searchResult .refineResult .card .card-body .rside p{font-size:14px;opacity:.8;font-style:italic;font-weight:600;line-height:1.4em}
    .searchResult .refineResult .card .card-body .rside .specs{padding:0;margin:0;display:flex;position:relative}
    .searchResult .refineResult .card .card-body .rside .specs li{padding:10px;margin:5px 0 0 5px;border:1px dashed #bebebe;font-size:13px;font-family:'LatoLatinWebSemibold'}
    .searchResult .refineResult .card .card-body .rside .specs li span{color:#009035;margin:0 0 0 5px}
    .searchResult .refineResult .dropdown-toggle{cursor:pointer}
    .searchResult .refineResult .dropdown-toggle::after{display:none}
    .custom-control-label{font-size:14px}
    .property{padding:0;margin:0}
    .property .head{padding:0;margin:20px auto 33px;display:flex;justify-content:space-between;align-items:center;flex-wrap:wrap}
    .property .head .title{font-family:'LatoLatinWeb';font-size:18px;color:#009035}
    .property .head .smltitle{font-family:'LatoLatinWeb';font-weight:500;font-size:13px;font-style:italic;opacity:.8;padding:8px 0 20px;margin:0;display:block}
    .property .head .shortlisted{background:#009035;font-weight:700;text-transform:uppercase;color:#fff;padding:7px 8px 8px;margin:0;-webkit-box-shadow:0 0 5px 0 rgba(0,0,0,0.3);-moz-box-shadow:0 0 5px 0 rgba(0,0,0,0.3);box-shadow:0 0 5px 0 rgba(0,0,0,0.3);font-size:15px}
    .property .head .shortlisted:hover{text-decoration:none;opacity:.9}
    .property .rangeBox{-webkit-box-shadow:0 -1px 3px 1px rgba(0,0,0,0.1);-moz-box-shadow:0 -1px 3px 1px rgba(0,0,0,0.1);box-shadow:0 -1px 3px 1px rgba(0,0,0,0.1)}
    .property .rangeBox .rangeContainer{display:flex;justify-content:space-between;align-items:center;height:inherit;flex-wrap:wrap;padding:20px 0;margin:0}
    .property .rangeBox .rangeContainer .pricing{font-size:20px;font-weight:400;padding:0;margin:0}
    .property .rangeBox .rangeContainer .pricing span{font-size:16px;font-weight:600;color:#009035}
    .property .lSPager{padding:0;margin:0;display:flex}
    .property .lSPager li{width:75px!important;height:75px!important;border-radius:0!important}
    .titleInner{display:table;margin:0 auto;padding:0 0 50px}
    .titleInner .title{display:table;text-align:center;font-family:'LatoLatinWebLight';font-size:20px;padding:0 0 15px;margin:0 auto;text-transform:uppercase;background:url(../img/icon/line.png)center bottom no-repeat}
    .property p{font-family:'LatoLatinWeb'!important;font-weight:400!important;line-height:1.3em!important;margin:0;padding:0 0 20px!important}
    .property .listItem{display:block;padding:0;margin:50px 0 0}
    .property .listItem .listBox{padding:0;margin-bottom:1rem;border:1px dashed #009035;width:100%;height:70px;display:flex}
    .property .listItem .listBox .strip{width:8px;height:68px;background:#009035}
    .property .listItem .listBox .proImg{border-right:1px dashed #009035}
    .property .listItem .listBoxDetails{padding:0;margin-bottom:1rem;border:1px dashed #009035;width:100%;border-top:none}
    .property .listBoxContainer{display:flex;justify-content:space-between;align-items:center;width:calc(100% - 68px);flex-wrap:wrap}
    .property .listBoxContainer h1{color:#009035;font-weight:600;font-size:24px;padding:0;margin:0 0 0 20px;display:block;width:100%}
    .property .listBoxContainer h1 span{font-size:12px}
    .property .listBoxContainer .title{font-size:16px;color:#000;padding:0;margin:0 0 0 20px}
    .property .listBoxContainer .title01{font-size:16px;color:#009035;padding:0;margin:0 0 0 20px;font-weight:200;font-style:italic}
    .youmayalsolike{background:#f0f4f3;padding:0 0 50px}
    .youmayalsolike .property_list .block{background:none}
    .youmayalsolike .property_list .block .item{background:#fff}
    .sellerProfile{background:none;margin:0;padding:30px 0;display:flex;justify-content:space-between;align-items:center;width:100%;flex-wrap:wrap}
    .sellerProfile .view_details{margin:15px 0 0}
    .sellerProfile .profilePic{display:flex;align-items:center}
    .sellerProfile .profilePic .user{width:75px;height:75px}
    .sellerProfile .profilePic .username{font-family:'LatoLatinWebHeavy';color:#002f6e;font-size:20px;padding:0;margin:0 0 0 20px}
    .sellerProfile .profilePic .custId{padding:0;margin:5px 0 0 20px;font-size:14px}
    .sellersec .select2-container--default .select2-selection--multiple .select2-selection__rendered{box-sizing:border-box;list-style:none;margin:0;padding:0 5px;width:100%!important}
    .sellersec .localityItem{overflow:hidden}
    .sellerProfile .profilePic .user50{width:50px;height:50px}
    .sellerProfile .profilePic .username01{font-family:'LatoLatinWebHeavy';color:#002f6e;font-size:16px;padding:0;margin:0 0 0 20px}
    .sellerProfile .profilePic .custId01{padding:0;margin:5px 0 0 20px;font-size:12px}
    .list_ur_property_btn{font-size:.9rem}
    .seller{padding:20px 0 2px;margin:0;display:block;background:#f2f2f2}
    .seller .nav-pills{padding:0;color:#000;width:100%;display:block}
    .seller .nav-link{color:#000;padding:15px 30px;font-family:'LatoLatinWeb';font-size:16px;display:block;width:100%}
    .seller .nav-pills .nav-link.active,.seller .nav-pills .show>.nav-link{color:#fff;background-color:#009035}
    .removeProperty{background:#cd0000;font-weight:700;text-transform:uppercase;color:#fff;padding:10px 15px 8px;margin:0;-webkit-box-shadow:0 0 5px 0 rgba(0,0,0,0.3);-moz-box-shadow:0 0 5px 0 rgba(0,0,0,0.3);box-shadow:0 0 5px 0 rgba(0,0,0,0.3)}
    .removeProperty:hover{text-decoration:none;opacity:.9;color:#fff}
    .text-big{font-size:24px;font-family:'LatoLatinWeb';font-weight:500}
    .line_height_1_6{line-height:1.6em}
    .btn-dark:focus,.btn-dark:active{color:#fff!important}
    .list_ur_property .lside{background:#dfe8e5;height:100%;display:block}
}
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : portrait) {
    .greenroom-spec{padding:0;margin:0;list-style-type:none;display:flex;justify-content:space-between;flex-wrap:wrap}
    .greenroom-spec li{padding:0;margin:0 0 30px;list-style-type:none;text-align:center;width:calc(100% / 3)}
    .greenroom-spec li:last-child{padding:0;margin:0 0 30px;list-style-type:none;text-align:center;width:calc(100% / 3)}
    .property_list .block .item{-webkit-box-shadow:0 0 5px 2px rgba(0,0,0,0.1);box-shadow:0 0 5px 2px rgba(0,0,0,0.1);height:300px;width:100%;padding:3px 0 0 3px}
    .searchResult{width:100%;display:flex;justify-content:space-between}
    .searchResult .refineSearch{width:250px}
    .searchResult .refineResult{width:calc(100% - 250px);padding:0 0 0 15px}
    .searchResult .refineSearch .card-title{font-family:'LatoLatinWeb';font-weight:700;font-size:15px}
    .searchResult .refineSearch .card-header{background:#f3f3f3;cursor:pointer;padding:19px 20px}
    .searchResult .refineResult .card{-webkit-box-shadow:0 0 5px 0 rgba(0,0,0,0.1);-moz-box-shadow:0 0 5px 0 rgba(0,0,0,0.1);box-shadow:0 0 5px 0 rgba(0,0,0,0.1)}
    .searchResult .refineResult .card .card-body{padding:14px;margin:0;display:flex}
    .searchResult .refineResult .card .card-body .lside{width:252px}
    .searchResult .refineResult .card .card-body .rside{width:calc(100% - 252px);color:#000;padding:0 0 0 20px;margin:0;position:relative}
    .searchResult .refineResult .card .card-body .lside .status{display:block;font-weight:700;font-size:14px}
    .searchResult .refineResult .card .card-body .lside .view{color:#000;font-size:14px;font-weight:700;text-decoration:underline;display:flex;justify-content:flex-end}
    .searchResult .refineResult .card .card-body .lside .pricing{font-family:'LatoLatinWebHeavy';font-size:18px}
    .searchResult .refineResult .card .card-body .lside .shortlist{background:#009035;font-weight:700;text-transform:uppercase;color:#fff;padding:10px 15px 8px;margin:0;-webkit-box-shadow:0 0 10px 0 rgba(0,0,0,0.53);-moz-box-shadow:0 0 10px 0 rgba(0,0,0,0.53);box-shadow:0 0 10px 0 rgba(0,0,0,0.53);font-size:14px}
    .searchResult .refineResult .card .card-body .lside .shortlist:hover{text-decoration:none;opacity:.9}
    .searchResult .refineResult .card .card-body .rside .title{color:#1a0dab;font-size:20px;font-weight:600;text-decoration:none;display:block}
    .searchResult .refineResult .card .card-body .rside .locatonHint{font-size:14px;font-style:italic;opacity:.7;padding:0;margin:5px 0 0;display:block}
    .searchResult .refineResult .card .card-body .rside p{font-size:14px;opacity:.8;font-style:italic;font-weight:600;line-height:1.4em}
    .searchResult .refineResult .card .card-body .rside .specs{padding:0;margin:0;display:flex;position:relative}
    .searchResult .refineResult .card .card-body .rside .specs li{padding:10px;margin:5px 0 0 5px;border:1px dashed #bebebe;font-size:13px;font-family:'LatoLatinWebSemibold'}
    .searchResult .refineResult .card .card-body .rside .specs li span{color:#009035;margin:0 0 0 5px}
    .searchResult .refineResult .dropdown-toggle{cursor:pointer}
    .searchResult .refineResult .dropdown-toggle::after{display:none}
    .custom-control-label{font-size:14px}
    .property{padding:0;margin:0}
    .property .head{padding:0;margin:20px auto 33px;display:flex;justify-content:space-between;align-items:center;flex-wrap:wrap}
    .property .head .title{font-family:'LatoLatinWeb';font-size:18px;color:#009035}
    .property .head .smltitle{font-family:'LatoLatinWeb';font-weight:500;font-size:13px;font-style:italic;opacity:.8;padding:8px 0 20px;margin:0;display:block}
    .property .head .shortlisted{background:#009035;font-weight:700;text-transform:uppercase;color:#fff;padding:7px 8px 8px;margin:0;-webkit-box-shadow:0 0 5px 0 rgba(0,0,0,0.3);-moz-box-shadow:0 0 5px 0 rgba(0,0,0,0.3);box-shadow:0 0 5px 0 rgba(0,0,0,0.3);font-size:15px}
    .property .head .shortlisted:hover{text-decoration:none;opacity:.9}
    .property .rangeBox{-webkit-box-shadow:0 -1px 3px 1px rgba(0,0,0,0.1);-moz-box-shadow:0 -1px 3px 1px rgba(0,0,0,0.1);box-shadow:0 -1px 3px 1px rgba(0,0,0,0.1)}
    .property .rangeBox .rangeContainer{display:flex;justify-content:space-between;align-items:center;height:inherit;flex-wrap:wrap;padding:20px 0;margin:0}
    .property .rangeBox .rangeContainer .pricing{font-size:20px;font-weight:400;padding:0;margin:0}
    .property .rangeBox .rangeContainer .pricing span{font-size:16px;font-weight:600;color:#009035}
    .property .lSPager{padding:0;margin:0;display:flex}
    .property .lSPager li{width:75px!important;height:75px!important;border-radius:0!important}
    .titleInner{display:table;margin:0 auto;padding:0 0 50px}
    .titleInner .title{display:table;text-align:center;font-family:'LatoLatinWebLight';font-size:20px;padding:0 0 15px;margin:0 auto;text-transform:uppercase;background:url(../img/icon/line.png)center bottom no-repeat}
    .property p{font-family:'LatoLatinWeb'!important;font-weight:400!important;line-height:1.3em!important;margin:0;padding:0 0 20px!important}
    .property .listItem{display:block;padding:0;margin:50px 0 0}
    .property .listItem .listBox{padding:0;margin-bottom:1rem;border:1px dashed #009035;width:100%;height:70px;display:flex}
    .property .listItem .listBox .strip{width:8px;height:68px;background:#009035}
    .property .listItem .listBox .proImg{border-right:1px dashed #009035}
    .property .listItem .listBoxDetails{padding:0;margin-bottom:1rem;border:1px dashed #009035;width:100%;border-top:none}
    .property .listBoxContainer{display:flex;justify-content:space-between;align-items:center;width:calc(100% - 68px);flex-wrap:wrap}
    .property .listBoxContainer h1{color:#009035;font-weight:600;font-size:24px;padding:0;margin:0 0 0 20px;display:block;width:100%}
    .property .listBoxContainer h1 span{font-size:12px}
    .property .listBoxContainer .title{font-size:16px;color:#000;padding:0;margin:0 0 0 20px}
    .property .listBoxContainer .title01{font-size:16px;color:#009035;padding:0;margin:0 0 0 20px;font-weight:200;font-style:italic}
    .youmayalsolike{background:#f0f4f3;padding:0 0 50px}
    .youmayalsolike .property_list .block{background:none}
    .youmayalsolike .property_list .block .item{background:#fff}
    .sellerProfile{background:none;margin:0;padding:30px 0;display:flex;justify-content:space-between;align-items:center;width:100%;flex-wrap:wrap}
    .sellerProfile .view_details{margin:15px 0 0}
    .sellerProfile .profilePic{display:flex;align-items:center}
    .sellerProfile .profilePic .user{width:75px;height:75px}
    .sellerProfile .profilePic .username{font-family:'LatoLatinWebHeavy';color:#002f6e;font-size:20px;padding:0;margin:0 0 0 20px}
    .sellerProfile .profilePic .custId{padding:0;margin:5px 0 0 20px;font-size:14px}
    .sellersec .select2-container--default .select2-selection--multiple .select2-selection__rendered{box-sizing:border-box;list-style:none;margin:0;padding:0 5px;width:100%!important}
    .sellersec .localityItem{overflow:hidden}
    .sellerProfile .profilePic .user50{width:50px;height:50px}
    .sellerProfile .profilePic .username01{font-family:'LatoLatinWebHeavy';color:#002f6e;font-size:16px;padding:0;margin:0 0 0 20px}
    .sellerProfile .profilePic .custId01{padding:0;margin:5px 0 0 20px;font-size:12px}
    .list_ur_property_btn{font-size:.9rem}
    .seller{padding:20px 0 2px;margin:0;display:block;background:#f2f2f2}
    .seller .nav-pills{padding:0;color:#000;width:100%;display:block}
    .seller .nav-link{color:#000;padding:15px 30px;font-family:'LatoLatinWeb';font-size:16px;display:block;width:100%}
    .seller .nav-pills .nav-link.active,.seller .nav-pills .show>.nav-link{color:#fff;background-color:#009035}

    .removeProperty{background:#cd0000;font-weight:700;text-transform:uppercase;color:#fff;padding:10px 15px 8px;margin:0;-webkit-box-shadow:0 0 5px 0 rgba(0,0,0,0.3);-moz-box-shadow:0 0 5px 0 rgba(0,0,0,0.3);box-shadow:0 0 5px 0 rgba(0,0,0,0.3)}
    .removeProperty:hover{text-decoration:none;opacity:.9;color:#fff}
    .text-big{font-size:24px;font-family:'LatoLatinWeb';font-weight:500}
    .line_height_1_6{line-height:1.6em}
    .btn-dark:focus,.btn-dark:active{color:#fff!important}
    .list_ur_property .lside{background:#dfe8e5;height:100%;display:block}
}
@media (min-width: 414px) {
    .searchSection .select2-container--default .select2-selection--multiple{background-color:#f8f8f8!important;border:1px solid #d7d7d7!important;border-radius:0!important;cursor:default;float:left;margin:0 5px 0 0 !important;padding:5px!important;width:100%!important;display:block}
    .sellersec .select2-container--default .select2-selection--multiple .select2-selection__rendered{box-sizing:border-box;list-style:none;margin:0;padding:0 5px;width:414px!important}
}
@media (min-width: 375px) {
    .searchSection .select2-container--default .select2-selection--multiple{background-color:#f8f8f8!important;border:1px solid #d7d7d7!important;border-radius:0!important;cursor:default;float:left;margin:0 5px 0 0 !important;padding:5px!important;width:100%!important;display:block}
    .sellersec .select2-container--default .select2-selection--multiple .select2-selection__rendered{box-sizing:border-box;list-style:none;margin:0;padding:0 5px;width:375px!important}
}
@media (min-width: 320px) {
    .searchSection .select2-container--default .select2-selection--multiple{background-color:#f8f8f8!important;border:1px solid #d7d7d7!important;border-radius:0!important;cursor:default;float:left;margin:0 5px 0 0 !important;padding:5px!important;width:100%!important;display:block}
    .sellersec .select2-container--default .select2-selection--multiple .select2-selection__rendered{box-sizing:border-box;list-style:none;margin:0;padding:0 5px;width:320px!important}
}
@media (min-width: 411px) {
    .searchSection .select2-container--default .select2-selection--multiple{background-color:#f8f8f8!important;border:1px solid #d7d7d7!important;border-radius:0!important;cursor:default;float:left;margin:0 5px 0 0 !important;padding:5px!important;width:100%!important;display:block}
    .sellersec .select2-container--default .select2-selection--multiple .select2-selection__rendered{box-sizing:border-box;list-style:none;margin:0;padding:0 5px;width:360px!important}
}
@media (min-width: 360px) {
    .searchSection .select2-container--default .select2-selection--multiple{background-color:#f8f8f8!important;border:1px solid #d7d7d7!important;border-radius:0!important;cursor:default;float:left;margin:0 5px 0 0 !important;padding:5px!important;width:100%!important;display:block}
    .sellersec .select2-container--default .select2-selection--multiple .select2-selection__rendered{box-sizing:border-box;list-style:none;margin:0;padding:0 5px;width:360px!important}
}